[2016-03-08 11:18] cashtotalszero opened #1 "Change trigger text on state change?"
I'd suggest adding the ability to change the trigger text on click. For example, so the text on the trigger can say "Open collapsible" when the div is collapsed and "Close collapsible" when it is open.

[2016-03-08 11:27] glennflanagan commented on #1
I have added the prop `triggerTextWhenOpen` which you can pass to set the text when the trigger is open. If this is not set then the trigger text will remain the same for the open and closed state.

[2016-03-08 11:27] #1 closed

[2016-03-11 16:14] cedricmessiant opened #2 "Set the focus on the top of the unfolded collapsible"
Is there a way to set the focus on top of the component when it is unfolded ?

[2016-03-11 16:47] glennflanagan commented on #2
@cedricmessiant I'm not sure I follow what you're after.

What do you want focused when open?

[2016-03-11 18:11] cedricmessiant commented on #2
Oh, in fact, it seems to be a bug in react-responsive-accordion instead... I'm really sorry !

[2016-03-11 18:11] #2 closed

[2016-09-30 10:18] artsx opened #8 "Problem with overflow on transition"
Hello, I have a problem,

I have to be able to display menu lists, by default contentOuter is overflow: hidden, I overloaded to tell him that when you open you're overflow: visible, and when you close you're overflow: hidden,

The problem I have is when I decide to reopen the collapse, the text appears as it is in immediatly because it's -> overflow: visible,

There would be a possibility when you

[2016-09-30 12:56] glennflanagan commented on #8
Hey @artsx,

I'm not sure I'm following what you are trying to attempt here or what the issue is.

The collapsible is set to `overflow: hidden` in the code to force the content to disappear when it's closed and when the collapsible is open the content is set to `height: auto` so it should be the height it needs to be for the content.

Could you expand a bit more into what your issue is?

Thanks

[2016-09-30 13:11] artsx commented on #8
hi @glennflanagan,
Thx for you're reply (sorry for my bad english).

By default, on `.Collapsible__contentOuter` we have `overflow:hidden`
When I try to open my last dropdown, with this` overflow:hidden` we cant see dropdown :
<img width="238" alt="screen shot 2016-09-30 at 15 05 00" src="https://cloud.githubusercontent.com/assets/7711803/18992603/837b4492-871f-11e6-95d3-7755bb0ef41e.png">

When I

[2016-10-02 17:29] glennflanagan commented on #8
@artsx I've added a new property `overflowWhenOpen` which will allow you to set the CSS overflow value when the Collapsible is open.

Hope this helps.

[2016-10-02 17:29] #8 closed

[2016-10-02 21:54] artsx commented on #8
@glennflanagan it works perfectly, thank you!

[2016-10-31 06:21] nikolayg opened #9 "Handling click only on part of the trigger component"
Hello,

I have developed my own components for `trigger` and `triggerWhenOpen`. However, the panel collapses/opens whenever I click **anywhere** on the trigger panel.

I would like open/close only on clicks on specific elements of the trigger area - e.g. a link. I tried to implement this through a custom `handleTriggerClick` function, but couldn't figure out how to detect the source of the event a

[2016-11-02 18:00] cpruijsen commented on #9
@nikolayg I was facing the same issue in an implementation where I had a form inside the tabs, and answering questions would close the collapsible.

I fixed it by having the `open` option on the collapsible take a method that checks for the opened state:

[code]

where toggleOpen is a method which looks for the index of trigger in an array in state (this.state.openTabs) and either pushes the trigg

[2016-11-02 19:58] glennflanagan commented on #9
Hey guys. I've had a look at this and I'm not sure there is a nice way to do this as I can't figure out a way to get a custom trigger element to fire the handleTriggerClick inside the component.

It's possible I could restructure the code into an ES6 class which would allow you to extend it.

I'll keep looking into it, and if anyone figures it out feel free to open a PR.

[2016-11-08 12:53] awahlfischle commented on #9
I added a prop an Collapsible `classNameToTriggerOpenCloseEvent` and check in `handleTriggerClick` if this class got clicked

Collapsible.js
[code]

CustomComponent.js
[code]

[2016-11-11 13:42] ongmin opened #10 "Adding icons to trigger"
Hello, with the <Collapsible trigger="text"> being text, how can I insert icons as the trigger?
Thank you.

[2016-11-13 10:04] glennflanagan commented on #10
You can pass any React Element into the `trigger` prop. Either that use CSS with pseudo-elements.

https://github.com/glennflanagan/react-collapsible#trigger--string-or-react-element--required

[2016-11-13 10:04] #10 closed

[2016-11-13 10:08] glennflanagan commented on #9
@awahlfischle That looks interesting. If you'd like, open it up as a PR so I can run the code and if it's ok I'll merge it in.

[2016-12-08 04:33] codydotio commented on #8
@glennflanagan thanks for the `overflowWhenOpen` property, but do you have any idea why it wouldn't work in ie10/11?

[2016-12-08 16:11] glennflanagan commented on #8
@codydotio I wouldn't off the top of my head. I've not got a ie10 VM at the moment so I can't test it. I'll give it a check as soon as I can.

[2016-12-08 16:38] jlongbottom opened #12 "Height issues in IE11"
The `Collapsible__contentOuter` class has `height:auto`, but in IE11 its getting a fixed height. This is causing problems for me as the content inside the collapsible component is dynamic and it has `overflow: hidden`.

Can be fixed easily with some custom CSS, but the height should behave consistently across all browsers.

[2016-12-08 18:37] codydotio commented on #8
@glennflanagan thanks! I can pm my browserstack login if that helps.. it's causing an issue for some of our users

[2016-12-08 18:49] glennflanagan commented on #8
That's ok. I can spin up a VM on my Mac as soon as I get chance.

Sent from my iPhone

[2016-12-22 21:42] glennflanagan commented on #12
Hey @jlongbottom. I've tested out the latest code in IE11 and IE10 and it looks to be working fine. I've taken screen recordings so you can see.

- IE11 - https://youtu.be/-OXrJJy3UnU
- IE10 - https://youtu.be/PhZzy_E2fI8

Are you getting any error messages in the console? Are you able to show me an example of it not working?

[2017-01-30 02:31] N0nny opened #13 "Collapsing/expanding all collapsible elements"
Is it possible to use the `.Collapsible__trigger` and `is-closed`/`is-open` to make a collapse all function?
-- I tried using it with `GetElementsByClassName` and modifying it from is-closed to is open, but this didn't seem to do anything.

[2017-01-30 08:40] glennflanagan commented on #13
This probably won't work as the animation is hard-baked into the code.

You should use the `open` prop and change that value if you want to open and close it programmatically.

https://www.npmjs.com/package/react-collapsible#open--bool--default-false

[2017-02-03 03:57] pmdownie opened #14 "Only have one collapsible component open at a time"
Is it possible to have only one collapsible element open at one time?

So for example if one component is open, and a user clicks on another trigger it animates that component open and closes all others?

[2017-02-03 08:35] glennflanagan commented on #14
The component is stand-alone but you can achieve it quite simply by managing a wrapper component state to control which one is open.
I did [create](https://github.com/glennflanagan/react-responsive-accordion) this but I've not maintained it for a while. But if you have a look at the src you can see how I did it.

[2017-02-05 21:28] #14 closed

[2017-02-05 21:28] #13 closed

[2017-02-07 09:06] hannupekka opened #15 "overflowWhenOpen does not seem to work"
Using v.1.2.1
[code]

Results in:
[code]

[2017-02-07 09:31] hannupekka commented on #15
Nevermind, seems to works. Dunno what caused it to fail earlier :)

[2017-02-07 09:31] #15 closed

[2017-02-14 18:16] Redmega opened #17 "npm install react-collapsible still has openCollasible() typo"
Mayhaps the npm package needs to be updated?

[2017-02-20 23:03] glennflanagan commented on #17
@Redmega the fix for that was corrected in #11, merged and released in v1.2.1 on Jan 24th. Please update your package.json to v1.2.1.

Thanks

[2017-02-20 23:03] #17 closed

[2017-02-21 00:22] Redmega commented on #17
`"react-collapsible": "^1.2.1",` is what I have in my `package.json`,

Running `npm install react-collapsible@1.2.1` has the type on line 117 `this.openCollasible();`

I noticed that 1.3.0 is available as the latest, so I'll update to that one as it has the corrected method name.

[2017-02-22 05:10] goodmorninggoaway commented on #9
I took a different approach. Here's what I hacked together and works for me. I contemplated contributing back, but it seems a bit hackish. It basically allows you to add whatever arbitraty markup as a sibling to the trigger, but you need to style it so it overlays the trigger.

https://github.com/goodmorninggoaway/react-collapsible/commit/2c3009a42102704d08589e2c994e96dc83801c08

[2017-03-03 20:29] #9 closed

[2017-03-03 20:29] glennflanagan commented on #9
Fixed in 1.4.0

[2017-03-10 19:42] texas697 commented on #14
trying to figure out how to do this. can you show a example?

[2017-03-22 13:44] Gh05d opened #21 "Proper use of triggerSibling"
Hi,

I gave the Collapsible as trigger a component which consists of a <div className="row"> with 6 elements. My problem is that the last two elements are buttons, but I don't want that the Collapsible gets opened when clicking on them.

Is there any way to give down the triggerSibling prop to the "row"-class so that it doesn't get triggered when clicking on it?

Best,

[2017-03-26 22:58] richardklotz commented on #12
I was able to reproduce this issue in IE11, but only on windows 7. IE11 in windows 10 worked fine.  What I found is that addEventListener was not attaching the event and so it never fired to turn the inline style back to auto. I fixed it by doing as the comment suggest in  componentDidMount (moving to onTransitionEnd prop).

[2017-03-29 21:24] glennflanagan commented on #21
Could you give me an example of what you're trying to do in a Codepen or JSFiddle? I don't fully understand what you're trying to achieve.

Thanks

[2017-03-30 14:30] Gh05d commented on #21
This here is the code in the parent component:

[code]
and this is the code in the child:
[code]
I don't want the collapsible to open when clicking on one of the buttons.

[2017-04-12 11:40] Gh05d commented on #21
In this example, the text which should appear in the collapsible doesn't do. When clicking on it, it expands, but there is no text, only blank white space:

[code]

[2017-04-17 04:07] rakeshpai opened #24 "Warning: React.createClass is deprecated"
Just installed this module, and got the following error in the console.

[2017-04-20 02:45] negomi commented on #24
Also:
[code]

[2017-04-23 09:02] glennflanagan commented on #24
@rakeshpai @negomi this is down to Facebook releasing v15.5 of React. There has been a PR into develop which fixes this, but I won't be releasing this until v2.0

[2017-04-24 23:29] matzero opened #25 "NPM install does not install the latest code."
If I do a `npm install react-collapsible ` I don't seem to get the latest version of Collapsible.js that I see in the `development` branch. For instance the _onOpen_ does not exists in master The work around was to copy paste the latest Collapsible.js (development) in my project install the create-react-class dependency. Using the latest works with onOpen prop.

[2017-04-26 19:44] glennflanagan commented on #25
The onOpen functionality has not been released to NPM yet. I'm planning on doing this with a v2 release in the near future. Watch this space

[2017-05-01 19:35] kellyjoyner opened #26 "Is it possible to programmatically close a collapsible?"
I created a component that has several collapsibles. Inside each collapsible I have individual forms. Upon the submit of each form I would like to close the collapsible component and render the submitted form value in the label. Is it possible to programmatically close the collapsible based on an action (submit)?

Note: I did notice you have `handleTriggerClick`; however, this would only allow me

[2017-05-04 14:42] makkBit commented on #26
Not the best solution. But this is what I did to achieve this.
[code]

[2017-05-08 20:28] glennflanagan commented on #26
@kellyjoyner you can manage whether the Collapsible is open via a containing component state using the **open** prop.

https://github.com/glennflanagan/react-collapsible#open--bool--default-false

[2017-05-08 20:28] #26 closed

[2017-05-15 10:26] thifranc opened #27 "Style trigger and triggerSibling"
Hi !

I think that so far it isn't possible to style trigger and triggerSibling under one div, your component produces two span that can't be related.

For example, I would like to create something like this :
[code]
But the first div parent that contains trigger and triggerSibling is the div that also contains all of my collapsible data, but I want their style to be different from the triggers st

[2017-05-16 19:13] aziz-boudi4 opened #28 "How can I customize the style of the 'trigger' ?"
How can I style the trigger element, I would like to add a border and some styling but I couldn't get the info from the doc ?

[2017-05-17 10:53] thifranc commented on #28
triggerClassName to pass as props :
See this example :
[code]

[2017-05-17 10:59] thifranc commented on #27
Hi !
I've edited the code and I find it more easy to use now :
[code]
And
[code]
Are now :
[code]
And
[code]
I'll make a PR if anyone is interested

[2017-05-17 10:59] #27 closed

[2017-05-17 17:08] aziz-boudi4 commented on #28
I'm having this error `Invalid` prop `triggerClassName` of type `object` supplied to `Collapsible`, expected `string`.`

Can I pass my style like this :
`<Collapsible triggerClassName={{ color: 'red' }}>
     {yourInputCollapsible}
  </Collapsible>`

[2017-05-17 17:19] glennflanagan commented on #28
@aziz-boudi4 `triggerClassName` expects a string so you can style it with CSS seperate to the Javascript.

https://github.com/glennflanagan/react-collapsible#triggerclassname--string

Take a look at the example code too to show you how it works.

[2017-05-17 17:19] #28 closed

[2017-05-18 19:00] andalt opened #30 "Accordion Example Please"
Accordion Example Please

[2017-05-18 19:25] andalt commented on #30
https://github.com/glennflanagan/react-responsive-accordion

[2017-05-18 19:25] #30 closed

[2017-05-21 13:07] kuldeepdaftary opened #31 "Have more than 1 data-trigger ?"
Can we have more than 1 data trigger so, for example, if I pass
`data-trigger={['text 1', 'text 2']} `

it renders it as
[code]

[2017-05-21 13:20] kuldeepdaftary commented on #31
Never mind I just realised that we can pass an element as data-trigger.

Thank you for this amazing component.

[2017-05-21 13:23] #31 closed

[2017-05-23 19:14] turdiyev opened #32 "close other siblings if one collapse will open"
Hi there.

Could you do this logic: close other siblings if one collapse will open.

I'm facing this problem with many collapsible item in small popup. So, there is scrollable content, But if you open last one which is visible in modal, UI problem happens.

[2017-05-23 19:30] glennflanagan commented on #32
This component is not an accordion component. If you want accordion functionality then you can achieve this by wrapping the Collapsible with another component and then manage the state of the `open` prop

[2017-05-23 19:30] #32 closed

[2017-05-24 07:24] turdiyev commented on #32
Thank you? It works (with `open` state)

[2017-05-28 13:39] ssageghi opened #33 "Problem using the component"
hi
i'm trying to make collapse menu and I used your component
but when I click start here nothing happen and height always equal to 0px

can u help me

![untitled](https://cloud.githubusercontent.com/assets/24605214/26529193/cc1d779c-43d0-11e7-9b1b-32811506713a.png)

[2017-05-30 09:58] simpleneutrino opened #34 "onOpen function is not calling"

[2017-05-30 10:00] #34 closed

[2017-05-30 17:50] glennflanagan commented on #33
Hi @ssageghi,

Have you checked to see if the content inside the Collapsible has position and height? The Collapsible won't work if the content is set to position absolute for example. Can you check this for me?

Cheers.

[2017-06-01 14:55] ramusus commented on #25
@glennflanagan It would be nice to have in npm new functionality from development branch. For example version 1.4.1 could be created prior 2.0. Right now there is no possibility to get new features. It's even impossible to install from github directly - there is no `dist` directory in repo.

[2017-06-01 23:42] hixme-technology opened #35 "Any chance of a minor release in the near future? Would love to take advantage of the open and close trigger hooks"
Thanks for building and sharing this component.  It works great for my needs.  I've been using it on a local branch with my package.json pointing to a sha with the open/close triggers.
`"react-collapsible": "git+ssh://git@github.com:glennflanagan/react-collapsible.git#1b6065a",`

 I am eagerly awaiting your next release.  If there is any way I can help out to expedite that process, please let me k

[2017-06-03 20:02] jmckib opened #36 "lazyRender doesn't work without css"
If you use `lazyRender` without css, then panel doesn't unfold until there have been three clicks. I believe this is because the height of the children is unknown until the first render, so the first click renders the children (but doesn't unfold because height is 0), the second click closes, then the third click finally unfolds correctly.

To reproduce this, delete the content of `example/_src/sa

[2017-06-03 20:27] jmckib commented on #36
Just noticed this is addressed by https://github.com/glennflanagan/react-collapsible/pull/22

[2017-06-15 21:44] michaelsbradleyjr commented on #24
I started using your component in the context of a [next.js](https://github.com/zeit/next.js) app and decided to rework the code such that its up-to-date and takes advantage of the babel presets available in that framework's `dev` workflow.

Here's the result: https://gist.github.com/michaelsbradleyjr/ea26c9789e633413df727d38a353db5e

I can submit a proper pull request, but I'd need to figure out

[2017-06-28 10:25] fmlharrison commented on #33
Was this problem solved? I am having the same problem.
I am using flex box to position some components inside my Collapsible component but the height of the Collapsible_contentOuter div still has a height of 0px. I added a height of 50px to the div that wrap the Collapsible component children.

I would appreciate your help.

Cheers.

[2017-06-29 06:31] zeeshanjan82 commented on #31
@kuldeepdaftary how can we pass element as data-trigger any example code?

[2017-06-30 06:15] SandeshBG opened #38 "Problem in testing with jest and react-test-renderer"
I am trying to test the component with react-collapsible using jest and react-test-renderer. But it gives an type error saying  "Cannot read property 'addEventListener' of null at componentDidMount (node_modules/react-collapsible/dist/Collapsible.js:105:20). What is the solution for this error?

I am using react with redux.

[2017-07-13 04:19] #38 closed

[2017-07-13 07:50] ansuiya opened #39 "Collapse previous open accordion"
Hi

Can you please tell me,

how to do - on clicking of accordion, close previous accordion automatically.

[2017-07-13 08:15] glennflanagan commented on #39
This component is not an accordion so you'd have to manage the `open` prop with a surrounding component.

I have created an accordion component which demonstrates how to do it here.

https://github.com/glennflanagan/react-responsive-accordion

[2017-07-13 08:15] #39 closed

[2017-07-18 14:09] mrTurkay commented on #36
Hello, I have exactly same issue, and I need to solve it.

I tried some css but it still haven't worked yet. What kind css should I apply it?

[2017-07-21 10:09] jmckib commented on #36
@mrTurkay I'm not sure which exact lines of css are necessary, but you can copy the css being used in the collapsible example and it should work.

[2017-07-23 09:58] glennflanagan commented on #35
@hixme-technology sorry it's taken so long (I became a dad in November so parenting > coding at the moment).

I have now released that feature into [v1.5.0](https://github.com/glennflanagan/react-collapsible/releases/tag/1.5.0) which is also released on NPM.

Thanks

[2017-07-23 09:58] #35 closed

[2017-07-23 09:59] glennflanagan commented on #25
@matzero @ramusus sorry it's taken so long but this is now available in v1.5.0.

[2017-07-23 09:59] #25 closed

[2017-08-07 10:20] isaacalves opened #41 "Sharing styles on internal components"
I'm using Sass to style my components.

Is it possible to add classNames to inner elements like `.Collapsible__contentOuter` and `Collapsible__contentOuter`? I'd like these elements to share some styles with other components on my app, and it doesn't feel to be right to add `react-collapsible` selectors `.Collapsible__contentOuter` and `Collapsible__contentOuter` to other unrelated SCSS files.

Fo

[2017-08-17 17:12] jerronl commented on #24
do we have a solution yet? will it work with react v16?

[2017-08-18 14:49] glennflanagan commented on #33
@ssageghi / @fmlharrison could you help me out with examples of your code that has issues? I can't understand what the issue is from your descriptions or screenshots. If you could use JSFiddle or Codepen with examples this will help me debug the issue.

Thanks

[2017-08-20 22:16] #36 closed

[2017-08-20 22:17] glennflanagan commented on #36
I've implemented the fix from #22 into the develop branch. I should be releasing it as part of v2.0 soon.

[2017-08-20 22:21] glennflanagan commented on #41
@isaacalves You can override the CSS class names using the relevant props. In the above case you would pass the class names into the `triggerClassName` and `contentInnerClassName` props.

e.g.

[code]

[2017-08-20 22:21] #41 closed

[2017-08-21 20:58] alexmcmillan commented on #24
+1

[2017-08-22 20:47] #12 closed

[2017-08-22 20:47] #21 closed

[2017-08-22 20:47] #24 closed

[2017-08-24 11:31] ambarbs opened #44 "How to pass css to obtain the style demonstrated in the gif?"
The component is working fine but I'd like to make it more like a collapsible component. Maybe like the wait looks in the demo.
![image](https://user-images.githubusercontent.com/13555224/29664585-909a0964-8913-11e7-90ed-ae318bbb057d.png)

How do I pass in some style to change the background colour and the title text font.

[2017-08-25 08:31] glennflanagan commented on #44
@ambarbs you don't need to pass styles in, you can use CSS using the built in [class names](https://github.com/glennflanagan/react-collapsible#css-styles) or you can override the class names to be whatever you wish using the [css class overrides](https://github.com/glennflanagan/react-collapsible#css-class-string-props)

[2017-08-25 08:31] #44 closed

[2017-08-28 11:07] ambarbs commented on #44
Hi @glennflanagan ,

Would like to thank you for developing this handy component and also for the quick reply.

Currently I am using it in some places in my app. Works great!

[2017-08-29 21:36] glennflanagan commented on #44
Thanks. It's rare to get messages like this so thank you very much!

[2017-08-30 00:09] barimani opened #45 "Auto-collapse"
In the API I can't find a functionality (maybe a Boolean property) to force collapse siblings of Collapsibles. I would like to have only one collapsible open at a time.
P.S. thanks for the good work

[2017-08-30 00:11] barimani commented on #45
Just found it in the closed issues

[2017-08-30 00:11] #45 closed

[2017-09-06 15:53] ShunmugamAiyappan opened #47 "UNMET PEER DEPENDENCY react-collapsible@2.0.0"
`-- UNMET PEER DEPENDENCY react-collapsible@2.0.0

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm WARN react-responsive-accordion@1.0.0 requires a peer of react-collapsib

[2017-09-06 19:40] glennflanagan commented on #47
Hi @ShunmugamAiyappan could you tell me what steps you took to get this error?

Thanks

[2017-09-06 19:49] ShunmugamAiyappan commented on #47
npm install react --save

npm install react-collapsible --save

[2017-09-10 20:31] glennflanagan commented on #47
@ShunmugamAiyappan I'm not able to replicate this for this component, however I have noticed that this is an issue with the [react-responsive-accordion](https://github.com/glennflanagan/react-responsive-accordion) when you try to install that. I've not updated the accordion component for a while so I would raise an issue in that repo so it is visible there.

[2017-09-10 20:31] #47 closed

[2017-09-11 15:00] tomkennedycode opened #49 "Using two collapsible boxes side by side in a row causes them both to expand on click"
I would like to use two boxes in a row side by side -

When you click the arrows for one, the box expands on the other. is there a way around this?

![capture](https://user-images.githubusercontent.com/26717461/30281397-2d5b958e-970a-11e7-9f46-57ab5fcb3feb.PNG)

Thank you

Tom

[2017-09-11 15:52] glennflanagan commented on #49
Hi Tom, you can achieve this by managing the `open` prop from a parent component.

[2017-09-11 15:52] #49 closed

[2017-09-12 23:26] tyrsius opened #50 "overflowWhenOpen does not work"
Im using `overflowWhenOpen='visible'` on an uncontrolled Collapsible, and it doesn't seem to do anything. It looks like the [only reference](https://github.com/glennflanagan/react-collapsible/blob/develop/src/Collapsible.js#L21) to this property is when `this.props.open` is set. Is this property only supposed to work when the Collapsible is controlled?

[2017-09-13 09:25] williamboman commented on #50
#48 fixes this

[2017-09-13 15:09] ahmadsholehin opened #52 "Please put react as a peer dependency instead"
Please put `react` in `peerDependencies` for best practices. Consuming apps are getting react dups (see https://facebook.github.io/react/warnings/refs-must-have-owner.html).

[2017-09-13 15:19] tyrsius commented on #50
@williamboman No, I tried pulling that down and it still has `overflow: 'hidden'` set when open

[2017-09-13 18:24] williamboman commented on #50
Hm, for me that PR fixes the exact same issue you're having.

I've temporarily published a copy of this npm package called `react-collapsible-react16`, try installing that one and see if that works perhaps? (reminder that it's a temporary npm package)

[2017-09-13 20:03] tyrsius commented on #50
Yea, that works. Must have had some caching somewhere

[2017-09-13 21:30] tyrsius commented on #50
@williamboman Do you know when that fix will be released on the main package?

[2017-09-13 21:34] glennflanagan commented on #50
@tyrsius I'm looking into doing a release just now. Keep an eye out 👀

[2017-09-13 21:54] glennflanagan commented on #52
v2.0.1 fixes this. Thanks

[2017-09-13 21:54] #52 closed

[2017-09-13 21:55] glennflanagan commented on #50
The fix has been published to v2.0.1.

[2017-09-13 21:55] #50 closed

[2017-09-14 04:40] ahmadsholehin commented on #52
Awesome! Thanks for the speedy response @glennflanagan! 👍

[2017-09-14 04:44] ahmadsholehin commented on #52
Oh wait, sorry. React and react-dom are still in dependencies:
[code]
They're in peerDependencies as well:
[code]

[2017-10-02 15:47] pke commented on #33
Same here. Not using any special positioned items inside the `Collapsible` and no custom styles attached.

[2017-10-02 15:51] glennflanagan commented on #33
Hey @pke. Are you able to show me some example code where the issue occurs? It's pretty impossible to debug if I've got nothing to work with.

Cheers

[2017-10-04 21:44] pke commented on #33
Thanks for the swift response. I'll try to reproduce it in a codepen the next days.

[2017-10-09 03:02] jacksonp2008 opened #55 "HTML in Collapsible Content"
Hi Glenn,

Great component, thanks for sharing.  In my case I have HTML as the Collapsible content.  My trigger is a string, but the content below is HTML via a const,   It would be awesome if the HTML could be rendered, rather than just showing the code.  Any ideas on how I can make that work?

Thanks!

[2017-10-09 09:16] glennflanagan commented on #55
Hi @jacksonp2008. The component should render any React component you give to it, so if your HTML was a React component then it should work. If you're just passing a string of HTML code then this won't work as the component just assumes it's a string and would be dangerous to allow any old HMTL to be rendered out.

Have you got an example of how you're trying to use it that you could put in a Code

[2017-10-10 00:09] jacksonp2008 commented on #55
thanks Glenn, I'm working through it based on your feedback.

[2017-10-15 11:08] esalaza opened #58 "Enable user selection of trigger wrapper (span currently) element to prevent div inside span"
Hi, Glenn.

Thanks for this great component. The default trigger wrapper is a `span` element. This is great for when the user supplies only text as the trigger, but as the component also permits the use of arbitrary React elements, I guess it won't be uncommon for the user to supply `div`s, ending up with `div`s inside the `span` (invalid HTML).

I propose the creation of a new property named `tri

[2017-10-24 18:24] m4rk3r opened #59 "Collapsible descendants triggering onTransitionEnd"
Noticed an issue where descendants of a collapsible container with css transitions (in this case a :hover transition) were bubbling up and causing `handleTransitionEnd` to fire. Noticed it when my `onOpen` handler was getting called a bunch.

Maybe checking the event`target` in the handler function for the parent element could be a quick fix?

Thanks for the lib!

[2017-10-31 04:27] rodryquintero opened #61 "Collapsible element won't close when transitionTime = 0"
🐞 To reproduce this error just set the `transitionTime` to zero and try clicking on an open `<Collapsible>` to try to close it.

[2017-10-31 09:11] glennflanagan commented on #61
Hey @rodryquintero good find...however I would be curious as to why you would use this component if you didn't want any transition?

[2017-10-31 19:38] rodryquintero commented on #61
I just want the items to show without delay.

El El mar, 31 de oct. de 2017 a las 4:11 a.m., Glenn Flanagan <
notifications@github.com> escribió:

[2017-10-31 23:01] glennflanagan commented on #61
I understand that is the desired result, but by using this component you would be added a load of unnecessary code to your codebase for simple show/hide functionality.

However a workaround for this could be to set the `transitionTime` to `1` as this would be so fast it'll give the same effect.

[2017-11-01 04:21] rodryquintero commented on #61
Yes, that is what I have done. It works.

On Tue, Oct 31, 2017 at 6:01 PM, Glenn Flanagan <notifications@github.com>
wrote:

--
**** Ivan Quintero

[2017-11-06 10:22] akshaynaik404 opened #63 "[docs] Unable to run the included example locally"
Steps I followed:

1. cloned the react-collapsible repo
2. installed webpack and webpack-dev-server globally (although not necessary)
3. cd'd into react-collapsible/ and did `npm i`
4. run `webpack-dev-server`

Here are the errors:

[code]

[2017-11-06 10:41] akshaynaik404 commented on #63
I looked at the output of `npm i` and it's instructing me to install prop-types, react, react-dom dependencies manually. Doing so fixes the errors and the example works.

We can include this in README.md.

You can acknowledge this and close the issue.

[2017-11-07 17:29] blord-fullscreen commented on #63
This isn't working for me. Even after manually installing prop-types, react, and react-dom, the project won't build at all. It would be great to see the working example hosted somewhere live, with the demo linked out at the top of the readme.

[2017-11-08 12:06] jershell commented on #61
if Collapsible component is empty, then transitionEvent does not called.
`
const groupOperators = []; // empty list

          <Collapsible
            transitionTime={200}
            trigger="Click me"

            {groupOperators}
          </Collapsible>
`
First click will set class `is-open` , but second click `is-closed` is not called, because  not emit `transitionend` event

[2017-11-23 15:04] D063520 opened #66 "collapsible is not closing"
Hello,

we have a very basic problem. We have imported the library and integrated your basic example. By clicking on start the menu opens but it does not close again. There is no way to let it close again. Did you experience this problem?

Thank you
Dennis

[2017-11-23 15:06] glennflanagan commented on #66
Hey @D063520,

Are you able to share an example of your code setup so I can investigate?

[2017-11-23 15:16] D063520 commented on #66
Thank you for the fast response. You can find the code in the following github repository:
https://github.com/WDAqua/Trill
under the branch
collapsible
here is the code I pushed:
https://github.com/WDAqua/Trill/commit/8dc2cc867c1e0a9685d3b511147ac25b8149ae00
Thank you
Dennis

[2017-11-23 15:19] glennflanagan commented on #66
The only thing I can see is that you're using a really old version of React. Are you able to try it with React v15 or v16 and see if you get the same issue?

[2017-11-23 17:29] D063520 commented on #66
Yes, this was exactly the problem. Thank you very much!

[2017-11-23 17:29] #66 closed

[2017-11-27 05:06] addinall opened #67 "Collapsibles never closing"
I think I tracked it down to

onTransitionEnd=(this.handleTransitionEnd}

Never being fired.  It was the parent Accordion I modified for my use, not your code!
Everything else seems to work apart from this trigger, and as such the two calls to setState are never being called.

Any ideas why this might be happening?
Cheers.

[2017-11-27 05:52] addinall commented on #67
I probably stuffed it up changing to ES6 syntax.

[2017-12-01 19:21] mparker11 commented on #14
For anyone else trying to figure this out, try adding a state like `currentOpen: false`. Then for the Collapsible code, add the following:
[code]
And to allow clicking the same collapsible to close it, create a function that detects if the state is set to the open one, then set state to false again.

[2017-12-11 19:15] D063520 opened #69 "Trigger contains links"
Hi,

I have the situation where the trigger is a react component and contains itself an \<a href=.... /> link. Unfortunately the link is not working anymore since it is becoming also part of the trigger. Do you have a solution for that?

Thank you
D063520

[2017-12-12 12:29] D063520 commented on #69
Hi,

I solved the issues myself. The trick was to make add to the href an onclick and call

f(e){
    window.open(linkToOpen);
    e.stopPropagation();
  }

the e.stopPropagation(); prevents that the trigger function is called.

Thank you for providing the library
D063520

[2017-12-12 12:29] #69 closed

[2017-12-18 11:49] haddyo commented on #33
Please load a Static Content inside the <Collapsible /> tag. This fixed the issue i faced.
Eg.
<Collapsible trigger="Place your trigger Content" >
<p> Dummy Text </p>
<div> Your Actual Content </div>
</Collapsible>

[2017-12-22 00:31] blord-fullscreen opened #71 "Null values passed to className prop will render the string "null""
Code like this:
[code]

winds up applying the class `"null"` when `someVar` is false. This is not idiomatic in React, where `null` values are generally ignored. I discovered this by accident when browsing the inspector. No harm done, but very strange :) One workaround is to set the class to an empty string, but that's a bit weird in this context.

Thanks for a helpful package.

[2017-12-25 07:33] Sheile opened #72 "Can't open/close by trigger node after change open prop"
### Description
If change status by two way which are trigger and open prop, unnecessary `openCollapsible` has been called.
after that, trigger does not work because `transitionend` will not be fired.

Already send pull request about it by other, it works for me.
Could you merge it?
https://github.com/glennflanagan/react-collapsible/pull/65

### Reproduce process
1. Click trigger text
2. Click tog

[2018-01-02 22:15] arpit7j opened #73 "How to add chevron image on collapisible header."
How can we add up/down chevron image on collapsible header.

[2018-01-10 15:21] eronisko commented on #73
One thing you can do is to pass your header (including the chevron image) as the `trigger` prop. You can then control the state of the `Collapsible` and the header by an internal state value, e.g.:

[code]

Also check out https://github.com/glennflanagan/react-collapsible/tree/develop/example to see how this can be achieved with CSS.

[2018-01-10 23:14] unit57 commented on #73
It looks like you need the CSS provided in the demo to get the chevron image. It's sort of hinted at in the docs -  "with a little css" written after the example code. Its not in the node module so just copy and paste it from here [https://github.com/glennflanagan/react-collapsible/blob/develop/example/_src/sass/components/_Collapsible.scss](url)

[2018-01-18 15:23] amireitan opened #74 "radio button label in Trigger area doesn't affect radio input"
Hi,
Awesome component! appreciated!
I'm trying to add action element in trigger area like dropdown/radio buttons
each radio button have a label with "for" attribute - clicking on the label doesn't triggering the radio input change event.

**Sample html inside trigger area:**
[code]

[2018-01-19 03:37] Shibi-Sasidharan opened #75 "Trigger the click of collapsible from a different component"
Is it possible to trigger the click of collapsible from a different component?

[2018-01-22 10:01] Windvis opened #76 "Make it possible to override state classes"
The state classes (.is-closed, is-open, .is-disabled) are not overridable.

I'm working on a project which uses CSS Modules and I'm trying to style a child element of the trigger element depending on the open / closed state.

I don't think that this is possible with the current implementation without also storing the state in a wrapper component (and using that to set a class on the child element)

[2018-01-22 10:11] NindroidX commented on #76
It's possible to work around this by using the overridable open classes (openedClassName
 and triggerOpenedClassName) but I still think it would be a good idea to make all classes overridable.

[2018-01-30 17:30] glennflanagan commented on #76
@NindroidX you can style child elements based on the state of the component by using `.is-closed` etc.

Something like this would work
[code]

I agree having overrides would be a good feature so feel free to open a PR

[2018-01-30 17:31] glennflanagan opened #78 "Maintainers Wanted"
I'm finding increasingly difficult to keep up with maintaining react-collapsible so I'm looking for maintainers/collaborators so if you're up for some Open Source goodness then let me know in this issue. 👍

[2018-01-30 17:33] glennflanagan commented on #75
@Shibi-Sasidharan you can manage the `open` prop from a parent component / redux etc which will open and close the collapsible based on true/false.

https://github.com/glennflanagan/react-collapsible#open--bool--default-false

[2018-01-30 17:33] #75 closed

[2018-01-30 17:36] glennflanagan commented on #74
@amireitan I'm not sure how this is relevant to react-collapsible. From your HTML example above you need to correct your `label`'s `for` attribute to be the id of the input. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label#attr-for

[2018-01-30 17:36] #74 closed

[2018-01-30 17:37] #73 closed

[2018-01-30 17:39] glennflanagan commented on #71
As you said it, you can pass an empty string as a workaround.

The class names in the collapsible are being generated for all the different states. Feel free to open a PR for the enhancement.

[2018-01-30 17:41] glennflanagan commented on #67
@addinall can you open a JSFiddle example of the bug? I can't understand it from your description

[2018-02-11 18:01] adeolabadmus commented on #78
Hi @glennflanagan. I use this library on a project at work. It has been very useful. I'll love to help maintain it.

[2018-02-12 09:07] glennflanagan commented on #78
@adeolabadmus I've sent you a collaborator invite 👍

[2018-02-12 15:36] noeliasfranco opened #79 "Pass a react element as parameter on trigger property"
Hello! Can you give me an example of how to pass a simple react element into the trigger property? I'm not able to make it work

Thanks!

[2018-02-12 16:22] glennflanagan commented on #79
It's just passing the React component to the `trigger` prop. Try this:

[code]

[2018-02-12 16:22] #79 closed

[2018-02-14 16:06] EllaVader opened #80 "Adding icon and text to trigger"
I know that someone asked if you can use an icon in the trigger property for the Collapsible tag.
But can you combine an image icon and text in the trigger props?

this is what I have currently:

so I can either do this (which displays the "text"
`const sectionLabel =  props.testResult.name + " - " + props.testResult.result;
<Collapsible trigger={sectionLabel}
`

or I can do this (which displays t

[2018-02-16 15:50] johnreynolds opened #81 "Collapsible not compatible with embedded semantic Grid"
Before I start whining about my issue, thanks for this component. I appreciate your contribution.

My issue is that I am wrapping a Grid that has Columns, using the Semantic UI React components.
When I wrap the Grid in Collapsible, the widths of the Grid's Columns are no longer honored. Something about Collapsible is overriding the css the Grid needs.

I would appreciate any suggestions on what to

[2018-02-16 16:59] glennflanagan commented on #81
Hey John. Are you able to create a jsfiddle or codepen with some example code so I can try and debug it?

[2018-02-16 17:05] johnreynolds commented on #81
I'm an idiot Glenn.
All I needed to do was set the width of Collapsible explicitly in my css.
Sorry for bothering you.

[2018-02-16 17:05] #81 closed

[2018-02-16 17:06] glennflanagan commented on #81
Not a problem. Sometimes asking the question helps you find the answer. We’ve all been there.

[2018-02-19 18:26] prabhat9999 opened #83 "how to use css with this component, i have tried to use the properties given but still it is not working?could you please provide some example just like the one in the gif?"

[2018-02-19 23:09] glennflanagan commented on #83
Please read the Readme and check out the example folder for example CSS.

https://github.com/glennflanagan/react-collapsible/blob/develop/example/_src/sass/components/_Collapsible.scss

[2018-02-19 23:09] #83 closed

[2018-03-02 17:30] camiblanch opened #84 ".Collapsible__contentOuter might be better with overflow-y"
I have a div with negative left and right margins (a bootstrap row) as my collapsible children. It would be nice if the class `Collapsible__contentOuter` used `overflow-y` instead of `overflow` since it's only dealing with height changes anyways

[2018-03-02 17:56] camiblanch commented on #84
I guess it doesn't matter actually after reading [this stackoverflow post](https://stackoverflow.com/a/18135319/4462191)

[2018-03-02 17:56] #84 closed

[2018-03-09 18:57] rsarai commented on #78
Hey @glennflanagan, I also use this library at work and I want to collaborate too!

[2018-03-23 18:14] karltaylor commented on #76
I also faced this problem which would cause the wrong class names to be generated using CSS modules

[2018-03-25 14:21] rsarai commented on #80
Hey @EllaVader  you can create a component and pass to the trigger like this:

[code]
Let me know if this works for you!

[2018-04-04 10:07] karltaylor commented on #78
We @workshoptech use it :) happy to help collab

[2018-04-04 10:10] glennflanagan commented on #78
Hey @karltaylor, bear with me as I'm still new to this Collaborator stuff. Shall I make yourself a collaborator?

[2018-04-04 10:12] karltaylor commented on #78
@glennflanagan Yep I'd love to

[2018-04-04 11:57] karltaylor commented on #63
@blord-fullscreen I've added the devDependencies required to run the example and have the example working fine. Are you still having issues?

[2018-04-05 00:48] Sheile opened #87 "className props should apply CSS class in any state"
I know, this is the breaking change and can't apply immediately.
When this project will drastic change at v3.0 please consider following proposal.

Currently, this component can receive `className` and `openedClassName`.

- `className`: class name for **CLOSED** component
- `openedClassName`: class name for opened component

Generally `className` prop is known as that to specify class attribute al

[2018-04-05 09:07] karltaylor commented on #87
Yeah I completely agree with you - this makes a lot of sense.

[2018-04-06 09:36] karltaylor commented on #87
I've made a [release branch](https://github.com/glennflanagan/react-collapsible/tree/release/3.0.0) for this issue you want to make a PR.

[2018-04-06 10:55] #63 closed

[2018-04-06 13:38] rsarai opened #88 "Add a test suite"

[2018-04-06 15:31] karltaylor commented on #88
Do you have a preference @rsarai?

[2018-04-06 15:36] rsarai commented on #88
hey @karltaylor, I like Jest:  https://facebook.github.io/jest/.

[2018-04-06 15:37] glennflanagan commented on #88
I'd agreed. Jest is by far the simplest to set up

[2018-04-09 12:49] karltaylor commented on #80
Closing this due to inactivity. Feel free to open a new issue.

[2018-04-09 12:49] #80 closed

[2018-04-09 12:55] karltaylor commented on #33
Closing this due to inactivity. Please feel free to re-open.

[2018-04-09 12:55] #33 closed

[2018-04-09 12:55] #55 closed

[2018-04-10 01:00] karltaylor commented on #58
Merged 💯

[2018-04-10 01:00] #58 closed

[2018-04-10 15:36] karltaylor commented on #71
I'll try take a look at this and get it merged into v2.1.0

[2018-04-11 08:37] stanislav-ermakov-roi opened #89 "Override instead of append for class names"
In our project we use css modules and would actually like to override classes instead of appending them to static classes of component. Could this be considered for v3? To make it backwards compatible an additional prop overrideClassNames could be added for example.

[2018-04-11 13:15] karltaylor commented on #89
I think this is a duplicate of #76. There's a solution that I used for CSS Modules in there as well. Will look into it for v3.

[2018-04-11 13:15] #89 closed

[2018-04-11 14:10] stanislav-ermakov-roi commented on #89
I've seen #76, but the subject is overridable state classes there if I'm not mistaken. I want to get rid of static classes at all when classes are passed as props, because static classes are not used in that case.

[2018-04-11 17:09] charlesrochati commented on #78
@glennflanagan, i too would love to help in any way i can.

[2018-04-12 11:44] illia108 opened #90 "Collapsible tag"
Hi,
thank you for the nice package.

Maybe, I'm missing some config option. But is it possible to change the tag of the Collapsible component (by default it's `<div>`)?

I'm going to use it inside `tbody`. Thanks

[2018-04-12 12:12] Bezilon commented on #72
Exact same problem using:
react@16.3.1
react-dom@16.3.1

Not even changing the `open` prop in the React Dev Tool has any effect

[2018-04-13 10:05] karltaylor commented on #90
It's not currently possible, but can be added to 2.1.0, trying to get it out this weekend.

See this PR https://github.com/glennflanagan/react-collapsible/pull/57 if you want to have a go at adding functionality. Basically does the same thing but for the `span` trigger element.

[2018-04-16 09:44] mashehu opened #91 "items stay collapsed with bootstrap 4.1"
Sorry I didn't have time too look deeper into the issue, but this PR https://github.com/twbs/bootstrap/pull/25806 seems to have broken the collapsible elements for me. All of them are hidden because of `.collapse:not(.show) `. Anyway to fix this other then going back to bootstrap 4.0?

[2018-04-16 10:12] karltaylor commented on #91
Can you post some code or a codepen?

[2018-04-17 09:59] mashehu commented on #91
Okay, looks like the issue came from bootstrap 4.1, sorry for that.

[2018-04-17 09:59] #91 closed

[2018-04-18 18:06] jpargana commented on #72
I have the same problem.

[2018-04-19 08:45] karltaylor commented on #72
Managed to replicate but trying to figure out a solution #65 doesn't work for me as a solution. I have to click the toggle twice. Need to dig deeper into the problem.

[2018-05-10 12:31] karltaylor commented on #61
Closing due to inactivity. @jershell please open a new issue if you still have one.

[2018-05-14 08:38] karltaylor commented on #88
I wanted to take a look at this since I haven't done much testing before - is it worth using http://airbnb.io/enzyme/ as well?

[2018-05-14 08:41] glennflanagan commented on #88
Yes definitely. Jest and Enzyme work brilliantly together.

[2018-05-14 08:44] karltaylor commented on #88
Brilliant thanks I'll take a look. Looks great!

[2018-05-14 09:13] tyhopp opened #93 "Collapsible doesn't perform on mobile device browsers"
Hi @glennflanagan, thanks for creating this awesome component. Everything works as expected except that on mobile device browsers (Chrome, Safari, etc.), the Collapsible dropdown doesn't appear `onClick`.

Here's the code I'm using inside a Gatsby project:

[code]

Any help would be greatly appreciated. Thanks!

[2018-05-14 09:16] glennflanagan commented on #93
Hey @tyhopp, I can't see anything here that would cause an issue on mobile. Are you able to get an example of it not working into a JSFiddle so we can investigate?

[2018-05-14 09:27] karltaylor commented on #88
Took a stab at it over here. I can continue to add the default ones and then maybe break out into the more complex things later on. :)

https://github.com/glennflanagan/react-collapsible/tree/feature/add-test-suite

[2018-05-14 09:36] glennflanagan commented on #88
That's perfect to begin with. 👍

[2018-05-14 09:37] glennflanagan commented on #88
Now to figure out how to set up Continous Integrations 😄

[2018-05-16 10:30] naren9459 opened #95 "CSS is not applying to the Collaspe"
Hi,

I have added the Collasible component. I am getting the Heading and body section but there is not css applied to the component. I just see all text.  up arrow down arrow is also not visible. Animation is working fine.

Is there any css file I need to add?

Please help me what I am doing wrong? Thanks.

[2018-05-16 10:32] glennflanagan commented on #95
Hi @naren9459, the component is set up so you can apply your own CSS so it fits into whatever app/website you're putting it in to.

If you need a guide on what the CSS could be you can use the example SASS file https://github.com/glennflanagan/react-collapsible/blob/develop/example/_src/sass/components/_Collapsible.scss

Thanks

[2018-05-16 10:32] #95 closed

[2018-05-18 15:30] tyhopp commented on #93
Hi @glennflanagan thanks for your response! Unfortunately was up against a deadline and didn't have time to properly replicate. Ended up swapping out for another accordion to meet the deadline.

Still a fan of the project, thanks for maintaining! 🙌

[2018-05-18 15:30] #93 closed

[2018-05-19 16:50] karltaylor commented on #88
Closed #94

[2018-05-19 16:50] #88 closed

[2018-05-21 06:43] ramasiva818 opened #96 "collapsible not working in loop"
I want to display array of values in each individual collapsible

[2018-05-21 09:27] glennflanagan commented on #96
@ramasiva818 I'm not sure this is an issue with the Collapsible. You're not adding anything as the children of the Collapsible so only the trigger will render.

I'm going to close this issue for now. If you're able to get a JSFiddle up and running demonstrating the issue then we'll take a look again.

[2018-05-21 09:27] #96 closed

[2018-05-21 10:00] ramasiva818 commented on #96
`{property.services_mapped.length > 0 ? ( property.services_mapped.map((service_map,i) =>{  <div key={i}> <Collapsible trigger={service_map.request_type} onOpening={()=>{ this.setState({ isOpen : true }) }} onClosing={()=>{ this.setState({ isOpen : false }) }} lazyRender = {true} > </Collapsible> </div> })): null }`

I updated the code like this. But it still not working.

[2018-05-21 10:02] glennflanagan commented on #96
@ramasiva818 it's impossible for me to debug from a string of text. Please set up a JSFiddle with an example of your code not working if you want to to help out.

Cheers

[2018-05-21 10:03] karltaylor commented on #96
It would also be easier if you use backticks (`) for code formatting - see [#quoting code](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code) here.

[2018-05-21 10:12] ramasiva818 commented on #96
#@glennflanagan can you please add any example with collapsible within loop.

[2018-05-21 10:16] karltaylor commented on #96
@ramasiva818

[code]

https://jsfiddle.net/6jud4trx/

[2018-05-21 10:44] ramasiva818 commented on #96
`{
    "property_masters": [
        {
            "id": 28,
            "property_name": null,
            "lot": "21",
            "property_desc": "Property Description",
            "property_owner_name": "rams",
            "property_deposited_plan": "hello",
            "property_address": "Hogwarts Floor",
            "latitude": "17.446098",
            "longitude": "78.349851",

[2018-05-21 10:47] glennflanagan commented on #96
@ramasiva818 this is not an issue with the Collapsible component. We've given you examples of how to map over an array of data and output a Collapsible for each. The rest is up to you I'm afraid.

[2018-05-25 03:26] falconmick opened #97 "Open on mount doesn't work"
I have a Collapsable that uses open={true} to have it open by default. When I look into the markup I see:

`Collapsible__trigger is-open`

but I also see:

[code]

so basically it's open with a height of zero.. I think that when it starts in an open state it's not running the animation/starting out with the correct height of an open collapsible

[2018-05-25 06:44] falconmick commented on #97
Hey I’m gonna be one of those people and say that I’m probably not going to
have time to.

I needed to add a collapsible area to my existing app so I looked to use
this and either by my own mis usage or a bug it didn’t work as expected.

I just thought I would put this here encase it rang bells to any devs who
would know of the issue, I ended up having to roll my own and in the
process I looked at

[2018-05-25 07:49] glennflanagan commented on #97
No problem. If this was an issue with the code I think we'd have a ton more issues raised. I'll close the issue for now, feel free to reopen if you get time to replicate.

[2018-05-25 07:49] #97 closed

[2018-05-25 10:04] karltaylor commented on #97
Remember you don't need to add `true` to a prop if it's a boolean

https://jsfiddle.net/sctqwpnh/

[2018-05-25 11:27] falconmick commented on #97
Try/false was being sent down from something else. Probably the spot of the
issue if it were in my code

On Fri, 25 May 2018 at 6:04 PM, Karl <notifications@github.com> wrote:

[2018-05-28 13:56] zilahir commented on #45
@barimani and what is the solution? i also want to solve to have one elemtn open at a time, and close automaticall if an other one is treggered. this is what u meant? if so, how did u solve it? :) thanks!

[2018-06-01 13:12] InfernoZeus commented on #67
I've discovered that onTransitionEnd doesn't fire when `transitionTime` is set to 0 - i.e. an instant expand/collapse. It seems that if you want to support that, it needs a special case which calls handleTransitionEnd directly.

[2018-06-01 13:18] karltaylor commented on #67
@InfernoZeus if that's the case please refer to [this issue](https://github.com/glennflanagan/react-collapsible/issues/61#issuecomment-340932339) about transition time being zero.

[2018-06-01 13:18] #67 closed

[2018-06-01 13:20] InfernoZeus commented on #67
Whoops, I didn't see that issue as it was already closed. Will comment there.

[2018-06-01 13:22] InfernoZeus commented on #61
Are you open to a fix for this, or would you rather keep it as is? In our use case, we're already using the Collapsible with longer times elsewhere on the page, so it's more straightforward to stick with the same module for instant collapsibles.

[2018-06-01 13:28] karltaylor commented on #61
Always welcome a fix! I understand that `transitionTime={1}` can seem hacky

[2018-06-03 23:45] addinall commented on #61
The reason mine was not working as I figured it should was because the boilerplate I started my application with was React v0.9 and it didn't support the CSS transitions very well!  Upgraded to React16.  All good.  Apart from now I need to re-learn how to do browserHistory!  ;-)  Anothr subject.

[2018-06-04 18:14] brentmclark commented on #78
@glennflanagan I use this on a few projects at work and would be glad to help!

[2018-06-06 22:07] robwheatley opened #98 "Contextual menu in the trigger causes open/close"
Hi there,

Loving this package, works like a dream. However, there's one thing I'm struggling with.

I'm using this package as a 'folder structure' to organise notes in a web app. My notes are the collapsable content and the folder the notes are in is the collapsible trigger, e.g.

**Folder name 1**
-note
-note
**Folder name 2**
-note
-note

So, my trigger is actually a React component that render

[2018-06-06 22:10] karltaylor commented on #98
Is there any way you could set up a JSFiddle for me to have a play around? 😊

[2018-06-06 22:13] robwheatley commented on #98
wow - that was a damn quick response. I'll have a go (may take a while, I'm a complete novice hacking with Meteor thinking I rule the world after one Meteor course and zero Javascript or CSS experience). I'll post a link as soon as I get something that 'works' (if I get something that works)!

[2018-06-06 22:14] karltaylor commented on #98
@robwheatley not to worry I actually just whipped something up, looks like the trigger definitely fires the collapsible

[2018-06-06 22:21] karltaylor commented on #98
So I *can* see a potential fix for this - If you take a look at this [JSFiddle](https://jsfiddle.net/mc1y7tux/). In the `handleTriggerClick` function we pass the `event`, and we can differentiate between the `event.target` (could be span or trigger element). So if it's a button or item with a specific class name etc. We could fire that onClick instead. Gunna have a think how to approach it and how

[2018-06-06 22:49] robwheatley commented on #98
@karltaylor I need to wrap up for the night, but I have a 'hacky' suggestion (after playing with your JSfiddle).

It looks like the button or whatever clickable item you have in the trigger fires with no problems regardless of what handleTriggerClick does. So, how about this as a suggestion:

If someone wants to add an element into the trigger, but not want it to cause a trigger, if they add a cla

[2018-06-07 08:42] karltaylor commented on #98
I've completely forgot about the Web API [event.stopPropagation](https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Examples#Example_5:_Event_Propagation)!

On your `onClick` of your menu item, pass the `event` and call `.stopPropagation()` - this will stop the click event from bubbling to the trigger element.

[code]

[2018-06-07 08:42] #98 closed

[2018-06-07 09:30] robwheatley commented on #98
@karltaylor Nice one. As it happens, I thought about stopPropagation, but I added to your handleTriggerClick function rather than the button, so it didn't work for me. Doh! of course, it needs to be in the button.

Any, thank you very much - awesome job.

[2018-06-08 15:28] karltaylor commented on #61
@InfernoZeus going to close this for now as inactive. Feel free to send a PR over 👍

[2018-06-08 15:28] #61 closed

[2018-06-08 15:32] InfernoZeus commented on #61
Sorry, busy week at work! Will try to get it done this weekend.

On Fri, 8 Jun 2018, 17:28 Karl, <notifications@github.com> wrote:

[2018-06-09 13:05] mujahidateeb opened #99 "triggerSibling Issue"
Hi,
  I'm getting below issue while using triggerSibling can you please help me to sort out this issue
![issue](https://user-images.githubusercontent.com/18083184/41191896-bac743c6-6c13-11e8-8b3f-eb7a847f8d57.jpg)

This is my sample code using

[code]

[2018-06-13 10:17] karltaylor commented on #99
Ah I know what the issue is here, it's something to do with returning the sibling as a component. I'll take a look at it shortly for this fix.

[2018-06-22 09:08] karltaylor commented on #99
This could be fixed if we update to check what is passed the to the triggerSibling prop. @glennflanagan is this something you would want to add?

The fix here is to pass the triggerSibling a `<Component />` or an arrow function `() => function` so we could simply pass this as a warning in the console instead? @rsarai do you have any thoughts on this?

[code]

[2018-07-26 06:38] michael-ecb commented on #72
happen very fast with new react version:
react@16.4.1
react-dom@16.4.1

[2018-08-10 08:50] karltaylor commented on #99
@mujahidateeb please let me know if this has solved your problem, re-open if you're still having problems

[2018-08-10 08:50] #99 closed

[2018-08-16 09:32] michael-ecb commented on #72
@karltaylor it will be resolve ?

thanks

[2018-08-22 09:04] michael-ecb opened #102 "Element disappearing after transition on IOS 11"
Hi ,
IOS 11 safari and chrome
When content is large , some dom elements disappear or content blinking ...
I fixed it by adding a wrapper with this css : `transform: 'translate(0, 0)'`

thanks

[2018-08-28 12:49] byrnedo opened #103 "Interface 'CollapsibleProps' incorrectly extends interface 'HTMLProps<Collapsible>'."
Possible that the index.d.ts needs to be updated?
[code]
**To Reproduce**

Add react-collapsible to project

Then build
`yarn build`

**React Version**
16.4.1

[2018-08-28 12:59] #103 closed

[2018-08-28 13:03] byrnedo commented on #103
Any idea @karltaylor  when the next release will get cut?

[2018-08-28 13:04] karltaylor commented on #103
I'm doing a patch right now 😊

[2018-08-28 13:12] byrnedo commented on #103
Nice, thanks! :)

[2018-08-28 13:40] byrnedo commented on #103
One more question @karltaylor: how long does it take to come up on npm or yarn registries?

[2018-08-28 13:46] karltaylor commented on #103
@byrnedo npm is now showing [2.3.1](https://www.npmjs.com/package/react-collapsible) 🎉

[2018-09-03 14:06] j-te opened #105 "Nested div issue with style position"
**Describe the bug**
A nested div (approx 8 levels) with the style property `position: absolute;` results in the content being rendered outside the collapsible. While it may not be good practice to use this property, components may require it. Therefore, do we need any mitigation or tests?

I am using the Google maps API.

**To Reproduce**
Create nested divs as a component child with the style pro

[2018-09-03 17:12] j-te commented on #105
Updated my post

[2018-09-04 06:44] karltaylor commented on #105
The parent class `.Collapsible__contentInner` needs `position: relative`. See this fork
https://jsfiddle.net/3xy6awrb/

[2018-09-04 08:17] j-te commented on #105
@karltaylor thanks for the solution. Alternatively, one could insert a new style instead of overriding `.Collapsible__contentInner` - if multiple Collapsibles don't render as required.

[2018-09-04 08:17] #105 closed

[2018-09-07 10:44] TkDodo opened #106 "Incorrect type definition for triggerDisabled"
**Describe the bug**

In the current type definitions, `triggerDisabled` is defined as:

`triggerDisabled?: false`

I believe this to be incorrect, as this means that you cannot set it to a `boolean`, or even to a hardcoded `true`.

I also commented on the PR here:
https://github.com/glennflanagan/react-collapsible/pull/56#pullrequestreview-148944351

**Expected behavior**
`triggerDisabled?: boole

[2018-09-20 06:24] karkiritish opened #107 "Is there a way to trigger collapsible from inside collapsible content ?"
I am looking for a way to trigger collapsible from collapsible content. For instance, When collapsible content is too long , scrolling up to the trigger and closing can be hectic. Is there a way to trigger collapse  in onClick event of some element inside collapsible content? Thank You.

[2018-09-25 22:45] DougWoodCDS opened #108 "Does not work on Safari. neither mobile or desktop"
**Describe the bug**
The expand/collapse does not work on Safari

**To Reproduce**
use this component on safari

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
expand/collapse to work

[2018-09-25 23:02] glennflanagan commented on #108
Hey @DougWoodCDS. Are you able to get an example in a JSFiddle so we can investigate?

[2018-09-27 10:38] karltaylor commented on #108
Please add some more information around your Issue so we can debug better. It is currently working in Safari Version 11.1 (13605.1.33.1.2)

![out](https://user-images.githubusercontent.com/6763109/46140725-c8ad4580-c249-11e8-9842-0c87466b25d8.gif)

[2018-09-27 10:38] #108 closed

[2018-10-19 23:07] GxDesign commented on #106
+1 for this. Currently throwing errors in my typescript app

[2018-11-03 16:24] mazurek-maciej opened #109 "Only one open tab at once"
Hey,
Is it possible to create table with only one tab opened? Precisely when someone click to open new tab, at the same time tab that's already opened gonna hide.

[2018-11-04 16:45] glennflanagan commented on #109
It is with a wrapping component. Check out my accordion library for example how. https://github.com/glennflanagan/react-responsive-accordion

[2018-11-04 16:46] #109 closed

[2018-11-07 08:45] WarHatch commented on #73
@unit57 that link seems to no longer work

[2018-11-07 08:47] eronisko commented on #73
@WarHatch Try this one: https://github.com/glennflanagan/react-collapsible/blob/develop/example/_src/sass/components/_Collapsible.scss

[2018-11-16 19:16] ReidBraswell commented on #99
I'm having the same issue as well. Doesn't look like the original issue creator ever responded. @karltaylor was the proposed fix ever implemented? It doesn't appear to have been. Thanks for your help!

[2018-11-22 10:05] karltaylor commented on #102
Hey @michael-ecb, thanks for your opening your issue. If this problem is still occuring and your suggest code fixes. Please can you provide a running code sample.

Thanks

[2018-11-22 10:05] #102 closed

[2018-11-22 10:16] karltaylor commented on #106
I'll get this fixed and pushed out today.

[2018-11-22 10:39] karltaylor commented on #106
Fixed in 2.3.2

https://github.com/glennflanagan/react-collapsible/commit/b6e4aedbcf751a79a65773d76e91e55281f3a452

[2018-11-22 10:39] #106 closed

[2018-11-22 10:41] karltaylor commented on #71
Closing this as passing an empty string will suffice.

[2018-11-22 10:41] #71 closed

[2019-01-26 06:34] ajayns opened #111 "Is there an in-built way to use a collection of Collapsible as Accordion"
I understand this is not meant to be an accordion but in the case I'm using it as one, is there an in-built functionality to enable me to do so?

I ask this noticing the prop `accordionPosition`.

[2019-01-27 12:17] ajayns commented on #111
Thanks will do!

[2019-01-29 17:52] karltaylor commented on #107
You could create a button inside the collapsible which would `setState({ collapsibleIsOpen: false` and then use the [open prop](https://github.com/glennflanagan/react-collapsible#open--bool--default-false) to toggle the collapsible open/close.

[2019-01-29 17:52] #107 closed

[2019-02-01 16:16] #90 closed

[2019-02-15 08:36] viljark opened #115 "Trigger content should not preventDefault events when triggerDisabled is true."
**Describe the bug**
Enter and space keyboard events are ignored even if I manage the open state myself and this causes issues when trigger has some form elements inside it.

**To Reproduce**
Steps to reproduce the behavior:

[https://jsfiddle.net/cdsm9ovL/](https://jsfiddle.net/cdsm9ovL/)

1. Try to type into the textarea, see that space and enter are ignored.

**Expected behavior**
Space and ent

[2019-02-15 10:20] karltaylor commented on #115
Hey @viljark,

Thanks to taking the time to send a jsfiddle, an interesting use case!

I think this could be fixed if we move the `event.preventDefault()` to be after the triggerDisabled check:

[code]

[2019-02-15 12:38] viljark commented on #115
Hey @karltaylor, yes, I currently solved it exactly like that (I created a patch with patch-package).

[2019-02-15 18:02] karltaylor commented on #115
Interesting, the only problem is if you flip your use case and have a `<textarea />` or `<input />` when the `triggerDisabled={false}`. When focuses, `spaces` and `enters` will toggle the Collapsible, which might not be a desired use case.

@glennflanagan do you have a moment? What are your thoughts?

[2019-02-18 23:05] glennflanagan commented on #115
@karltaylor @viljark the reason the space and enter keys do this are for accessibility reasons so users can trigger the collapsible using the keyboard only, but if we're allowing elements that are text-input to be the trigger then this presents a UX issues and we shouldn't be listening to the keydown events for these element types, or we should at least change the keydown listener to listen to a d

[2019-02-25 18:05] #59 closed

[2019-02-25 18:06] karltaylor commented on #87
Fixed in `v3.0.0`

[2019-02-25 18:06] #87 closed

[2019-02-27 15:56] stasgavrylov opened #118 "Double click breaks Collapsible element"
**Describe the bug**
Hi, and first of all, thanks for such a great component.

I've stumbled across a bug that sometimes double click on component with `triggerWhenOpen=null` leaves inner state of `Collapsible` in transition, and prevents further interaction.
Also I suppose that it may be related to content styling `contentInnerClassName={!isCollapsibleOpen ? 'hidden' : null}`. But I was able to r

[2019-02-27 17:06] karltaylor commented on #118
Thanks for reporting! and +1 for adding not only a screen shot but a gif 😂🎉 Will take a deeper look at this, can't initially see what's causing so will have to do some tests

[2019-02-27 17:08] glennflanagan commented on #118
I imagine this is because we're not blocking this.setState during transitions. We could disable click while transition is happening, this would fix this, but it means you have to wait for the animation to finish before you can collapse again.

[2019-03-12 15:42] RyanGosden opened #119 "Possibility to hide trigger if there are no items in sub menu."
It would be great if the trigger can automatically hide if there are no items in sub-menu to improve user experience.

[2019-03-13 09:13] glennflanagan commented on #119
@RyanGosden could you elaborate on what you mean? You have control over the `open` prop so if you're not passing anything into the collapsible you can set this to false.

[2019-03-14 07:53] RyanGosden commented on #119
@glennflanagan - Thanks for the info!
I resolved the issue by adding a ternary to the trigger to check if there were any menu items for that specific Collapsible.

[code]

[2019-03-14 07:53] #119 closed

[2019-04-11 16:32] btrr commented on #108
I'm using Safari 12.1, and it's not working for me. Was there a fix for this?

[2019-04-12 13:29] glennflanagan commented on #108
@btrr it works fine in Safari 12.1 for me https://codesandbox.io/s/kowr27v19v

![out](https://user-images.githubusercontent.com/5485364/56040917-6e7c5980-5d2f-11e9-80e2-295bf3f4b4f3.gif)

[2019-04-28 07:24] roeib opened #120 "add html element to trigger"
Hi
is it possible to add html attributes like span or div to the trigger title
thx in advance

[2019-04-30 18:26] jcdiprose commented on #72
@michael-ecb switching to `onOpening` & `onClosing` solved the issue for me.

[2019-05-01 12:14] karltaylor commented on #120
Yep, see here.

[code]

[2019-05-01 12:14] #120 closed

[2019-05-01 17:09] JayAshday commented on #118
I'm having a similar bug in my implementation of this library. In my case, I have created a separate toggle for showing and hiding the element (due to the theming and keyboard accessibility needs of the site, simply using the `trigger` from this library is not viable). If a user tabs to the button and then hits the enter and/or spacebar keys rapidly, to trigger browser click events, at some point

[2019-05-17 07:44] utkarsh447 opened #121 "Event Listeners functionality"
Hi, In the title bar formed after writing this  snippet, `<Collapsible trigger="Start here">`,
Is it possible to add custom `button` which can act as event listeners on that title bar?

Sorry, It's kind of `information issue`.

[2019-05-22 10:13] utkarsh447 commented on #121
No Comments?

[2019-05-22 10:34] glennflanagan commented on #121
@utkarsh447 you can pass your own component to the trigger prop if that's what you mean? https://github.com/glennflanagan/react-collapsible#trigger--string-or-react-element--required

If not, could you describe your issue in a bit more detail?

[2019-05-22 14:02] karltaylor commented on #121
See #120

[2019-05-22 14:25] #121 closed

[2019-06-21 11:16] YoavHortman commented on #118
Any updates on a solution? currently can't use this library in production cause of this.

[2019-06-29 14:59] bvmcode commented on #78
I can help if you still need collaborators

[2019-07-24 13:29] j-te opened #123 "Feature Request: Pass prop "id" to root element"
Please can we pass element attribute `id` as a simple prop:
[code]

This will save us having to wrap the entire component or its contents.

As the root element of Collapsible is always a `<div>`, it may be worth considering support of passing other attributes: `id title lang style align`.

---
***Alternatively***

What may be preferable is to have an `onRender` override. This would simply call-bac

[2019-07-25 14:32] karltaylor commented on #123
This would be a great addition @j-te. What do you think is a more preferred way of doing this?

We could add props such as `contentContainerId`, `contentContainerStyle`?

Do you have time to take a stab an open a pull request?

[2019-07-25 23:44] j-te commented on #123
I have opted for a spreader on `<ContentContainerElement>` for new prop `containerElementProps`. It resolves the feature request above.

Although `onRender` would add more value, I didn't want to change too much or cause confusion. It can be re-visited if and when there's a specific use-case.

[2019-08-18 08:43] mindaugasnakrosis opened #125 "Expandable and selectable list at once."
How would it be possible to achieve this:

![image](https://user-images.githubusercontent.com/14983636/63222106-bc0c4580-c1ab-11e9-9e0b-ff1332183bbe.png)

You expand the element with `plus symbol` and select the row when clicking on the `span` of text

My tried approach:
[code]

[code]
Result achieved:
![image](https://user-images.githubusercontent.com/14983636/63222202-21ad0180-c1ad-11e9-9def-4a0

[2019-08-19 17:59] mindaugasnakrosis commented on #125
@glennflanagan @karltaylor maybe you have any ideas?
I hope not bothering you too much.

[2019-08-19 18:00] karltaylor commented on #125
@mindaugasnakrosis Would you mind trying to make an [SSCCE](http://sscce.org/) on CodeSandbox and I could take a look?

[2019-08-19 19:41] mindaugasnakrosis commented on #125
@karltaylor
https://codesandbox.io/s/react-collapsible-wb49k

[2019-08-20 08:23] karltaylor commented on #125
@mindaugasnakrosis This is a super interesting challenge 😊 but I don't have the capacity to look at it in depth at the moment, if you are time constrained it may be worth looking at https://github.com/pczern/react-collapsible-tree, see the [demo](https://pczern.github.io/react-collapsible-tree/demo/).

[2019-08-20 08:30] mindaugasnakrosis commented on #125
@karltaylor I am not in a hurry :)
The problem with `react-collapsible-tree` is that it select the row on expand.
I want to have two different actions: expand and select.

[2019-09-19 08:42] manchaary commented on #99
@karltaylor here is my code and it's not working (I'm using TS)
[code]

[2019-10-24 07:18] acha5066 commented on #97
I know this issue has been closed but I just wanted to point out that I have a similar, if not the same problem. Setting `open={true}` works just fine, as does normal toggling. I think the problem is that the Collapsible component is not re-rendering when the parent components props change.

To give you an example using redux. I have two components `SmartContainer` and `DumpComponent`. DumbCompone

[2019-11-27 22:45] arye-dov-eidelman opened #140 "When the Collapsible's children have a zero height it'll get stuck in the open position"
**Describe the bug**
When the Collapsible component's children have a height of zero it'll get stuck in the open position.
This is only noticeable when using the triggerWhenOpen prop.

**To Reproduce**
Steps to reproduce the behavior:

[React Collapsible JSFiddle](https://jsfiddle.net/arye_eidelman/w81cra79/24/)

1. Click on the second collapsible component.
2. Click it again. it'll continue sayin

[2019-11-28 09:08] #123 closed

[2019-12-03 20:05] pmourer commented on #97
@acha5066 @falconmick this is definitely still an issue.

I believe I have traced the cause to the following scenario:
- parent component mounts with state for collapsible open to false
- parent component state changes for collapsible open to true
- parent component re-renders
- collapsible now has state open=true, height=0

[2019-12-03 20:15] pmourer commented on #97
The above scenario seems to not happen in a class react component using setState, but in a functional component that does not store open in state, the above is present

[2019-12-03 20:45] pmourer commented on #97
Here is the fiddle i made that seemed to represent my situation, however in this fiddle everything works as expected so i'm a little perplexed

https://jsfiddle.net/wcfn4d9x/1/

[2019-12-03 21:36] pmourer commented on #97
For some reason in my case,
https://github.com/glennflanagan/react-collapsible/blob/develop/src/Collapsible.js#L92
innerRef.scrollHeight is 0 at the time the setState is run

[2019-12-03 22:10] pmourer commented on #97
OK -- i think i determined the issue in my case, the component that contains the collapsible was not displayed during all of this so measure height of the containing elements was 0?

[2019-12-03 22:19] pmourer commented on #97
Confirmed -- this was because a parent element had "display: none" at the time that the open property was being set to true. changing the parent element to use "visibility: hidden" resolved the issue for me

[2019-12-18 21:24] uwolfer opened #143 "index.d.ts: add React import"
I get the following errors:
[code]

Is there a reason why you do not import React before using it? I'd suggest adding this line at the top of the file to fix the first of these two errors:
`import * as React from 'react';`

For the 2nd issue, you probably could take a look at this solution:
https://github.com/brunolemos/react-native-linear-gradient/pull/1/files

[2019-12-18 22:37] glennflanagan commented on #143
Is this happening in a typescript project for you? I’m not massively familiar with Typescript definitions so if you have a solution feel free to open a PR

[2019-12-26 22:18] narthollis commented on #143
I am also experiencing these issues with the current type definitions.

I have had a look at the associated PR and this looks like it will resolve the issues I am experiencing.

[2020-01-07 20:15] mikebean81 commented on #143
My typescript project is also experiencing the same problem (first error) with the recent package update (2.6.2). I was able to temporarily resolve this by forcing the build to a prior version.

[2020-01-11 11:15] uwolfer commented on #143
@glennflanagan: Would be great if you could look into my PR - I'm also happy to work on it if there is any feedback.

[2020-01-31 06:52] Nileshdcool opened #145 "clicking on CollapsibleContent to open and close it automatically fires forms submit event"
I have a form inside which I have  <CollapsibleComponent>
the problem is that whenever I click CollapsibleContent  to open, it somehow invokes form submit an event

[2020-01-31 07:11] glennflanagan commented on #145
@Nileshdcool the likely thing here is the trigger to open the collapsible is a <button> element which when clicked is submitting the form by default. Best option is to `event.preventDefault()` on that button.

If you’ve got a code example then post it here and we can try and help a bit more.

[2020-02-26 13:32] MattBodey opened #146 "Be able to set custom properties on trigger element"
**Describe the bug**

When running accessibility audits using [axe pro](https://axe.deque.com) and enabling tab index, it was noted that there is no role on the Trigger element.

This lead to us realising that there is no way of passing props to the trigger element. In our case, this would be for aria roles and labels.

**To Reproduce**

Try and pass properties to the trigger element

**Expected b

[2020-02-26 13:45] karltaylor commented on #146
Hey @MattBodey,

Sounds good to me, something like {...triggerElementProps} on the `<TriggerElement />`, would that suffice?

Feel free to raise a PR and I'll take a look for you

[2020-02-26 13:46] karltaylor commented on #143
https://github.com/glennflanagan/react-collapsible/pull/144

[2020-02-26 13:46] #143 closed

[2020-02-26 14:55] MattBodey commented on #146
That's exactly what I was thinking!
I've raised a PR.

[2020-02-26 15:11] #146 closed

[2020-03-01 21:02] #140 closed

[2020-03-23 17:28] JosephScript commented on #78
I would love to help too. I use this on multiple projects and have found some issues I'd like to help address.

[2020-04-07 15:32] nmorales1991 opened #149 "Open only 1 tab at once?"
Hi,
Does it have any functionality to open one tab at a time? and the one that was already open will close

[2020-04-07 15:36] glennflanagan commented on #149
Hey @nmorales1991 you can implement it fairly easily manually with a surrounding component managing the open state. You can see an example of it working in the source code of this lib https://github.com/glennflanagan/react-responsive-accordion

[2020-04-07 15:36] #149 closed

[2020-04-11 21:23] DavidSabine opened #150 "Example of handleTriggerClick please"
**Use Case**

I'm using `<Collapsible/>` within a form.

I like that it can be triggered by `Enter` or `Space` (for accessibility reasons) but I don't like that it can be triggered without having focus. (i.e. Pressing `Enter` while in any of the form elements (which are children of `<Collapsible/>` will trigger the accordion.)

In my case, I actually want the accordion to never close after its bee

[2020-04-29 16:41] Twintails opened #152 "Trigger Sibling Controlled Component Input loses focus"
**Describe the bug**
if you have a controlled component in the Trigger Sibling, such as a text input. it loses focus.

**To Reproduce**
place a controlled component in the trigger sibling

https://codepen.io/Twintails/pen/c02772c6cb341402069bf6f6bf734f8a

1. Go to 'input in the triggerSibling'
2. enter a character

**Expected behavior**
input should not loose focus

[2020-05-09 10:45] karunalladeva commented on #72
I have the same problem.

[2020-05-14 15:56] erinrep opened #155 "handleTriggerClick fires twice when triggerTagName set to "button" and space bar is used"
**Describe the bug**
When using the component while `triggerTagName` is set to "button", hitting the space bar while the button is in focus results in unexpected behavior. The space bar will fire the `onClick` event for a button, but since the `onKeyPress` event is also looking for the space bar, `handleTriggerClick` gets called twice.

**To Reproduce**
Steps to reproduce the behavior:

[JSFiddle

[2020-05-15 08:41] #155 closed

[2020-05-15 08:42] #152 closed

[2020-05-30 05:26] shunmian opened #159 "Disable open or close transition when click a button inside Collapsible"
Is there a way to disable certain children's triggering of the Collapsible open or close?

I have the following code, which aims to open or close Collapsible by clicking `renderVisibleItem` except the button inside it.

[code]
and
[code]
Is this achievable?

[2020-05-30 07:57] glennflanagan commented on #159
In your 'clickButton' function use event.stopPropagation and that should do it.

https://developer.mozilla.org/en-US/docs/Web/API/Event/stopPropagation

[2020-05-30 07:57] #159 closed

[2020-06-24 08:09] kevinpallado opened #161 "Automatically close the list that was open when a list was already open"
**Describe the bug**
There is no function to determine the list that was open, is there a function or other method on how to make that work?

**To Reproduce**
npm install react-compatible

[2020-06-24 08:11] kevinpallado commented on #125
Any update on this? Hoping for some tricks that might work related on this issue

[2020-06-24 08:52] glennflanagan commented on #161
Could you give a bit more detail as to what you are expecting?

[2020-06-24 08:56] glennflanagan commented on #125
This is not really an issue with this library. This is a simple collapsible component, not a tree component.

You could achieve a tree-like layout by nesting collapsibles inside one another and then use recursion to build your tree out - but this is beyond the scope of this project. Maybe have a look on NPM for React tree components, or head over to StackOverflow to see if anyone there can help ou

[2020-06-24 08:56] #125 closed

[2020-06-24 08:58] glennflanagan commented on #150
If you want to be able to access the open state from outside of the collapsible component then I recommend managing the `open` prop in the surrounding component which will allow you to determine if it's open or not.

[2020-06-24 08:58] #150 closed

[2020-06-24 08:58] #145 closed

[2020-06-24 08:59] #118 closed

[2020-06-24 09:20] #78 closed

[2020-06-24 14:28] kevinpallado commented on #161
When there is already one collapsible open, and if you click the other collapsible the first one must closes first before it opens the other one, see this ![output](https://user-images.githubusercontent.com/31546211/85575063-d9326000-b669-11ea-9a7a-b8bd45a512d4.png) the image shows the current setup of the package

[2020-06-24 14:44] glennflanagan commented on #161
You're looking for an **accordion** component - this is a collapsible component.

You can implement an accordion using this component by utilising [the `onOpen` and `onClose` methods ](https://github.com/glennflanagan/react-collapsible#onopen--function). I have a different repo  for as an example of how to do it (but bear in mind I have not maintained the other repo)
https://github.com/glennflanag

[2020-06-24 14:44] #161 closed

[2020-07-16 14:23] mperu92 opened #162 "Component opening even if I block parameter by state"
I Have this two collapsible elements:
[code]

Why when I check if `!contrattoSaved` then if not i set the second collapsibile state variable to `false` it opens itself anyway?

Thanks!

[2020-07-16 14:29] glennflanagan commented on #162
I'm not sure without being able to debug your code.

I suggest you add a debugger statement inside your `onOpenDettaglioCorrispettivi` to see what is going on.

I don't think this is an issue with the Collapsible so I suggest you ask the question over on Stack Overflow.

[2020-07-16 14:29] #162 closed

[2020-07-17 09:10] mperu92 commented on #162
I think I simply used the wrong props for my case.
I solved this issue using `handleTriggerClick` instead of `onOpening` and `onClosing`

for knowledge this is an example of the method i used:
[code]

[2020-08-11 08:40] anir1234 opened #164 "Trigger collapse and uncollapse programmatically"
Is it possible to initiate trigger programmatically using react-collapsible , without actually clicking the element.
Basically i need to call the trigger using a button which will collapse the element if it is uncollapsed and vice -versa.

[2020-08-11 08:42] glennflanagan commented on #164
Yep this is possible by managing the `open` prop.

https://github.com/glennflanagan/react-collapsible#open--bool--default-false

[2020-08-11 08:42] #164 closed

[2020-08-26 03:15] jaygrestoplus opened #165 "Animating the icon in the span trigger"
Hi there, I've been working on an interface that requires the chevron/arrow to be animated on the trigger span. I managed to display the icon on the right-hand side, but I'm a bit stuck now on how to animate it as the collapsible is clicked. Sample code I did here: https://codesandbox.io/s/sleepy-framework-pvvvx

Appreciate any input on this one.

[2020-08-26 09:23] glennflanagan commented on #165
You can make use of the .is-open CSS selector and do this

[code]

I've saved what I did here. https://codesandbox.io/s/pensive-ishizaka-6c5lb

[2020-08-26 09:23] #165 closed

[2020-08-27 02:45] jaygrestoplus commented on #165
This is great, thanks for the tip. :smile:

[2020-08-27 03:44] arye-dov-eidelman commented on #72
The open prop isn't a trigger button. It's a way to lift the open state up to a parent component (or anywhere really). ([react lift state up docs](https://reactjs.org/docs/lifting-state-up.html)).

By passing in the open prop you are telling the collapsible that you will keep track of the open state elsewhere and provide that state to the open prop. this can be useful if you need this state elsewh

[2020-08-27 04:51] arye-dov-eidelman commented on #72
Make sure you are passing in a boolean. If you are passing in any other value you can add `!!` before it to coerce it into a boolean.

[Demo](https://jsfiddle.net/arye_eidelman/b8ev0k2u/87/)

[2020-08-29 02:36] karunalladeva commented on #72
thanks

[2020-09-15 01:25] lightninglu10 opened #171 "Collapse Upwards?"
Is it possible to collapse this collapsible upwards instead of downwards?

[2020-09-15 09:22] glennflanagan commented on #171
I’m afraid it’s not at the moment without a lot of funky CSS (which will probably be inaccessible).

[2020-10-05 09:48] jacubsmith commented on #115
@glennflanagan Do you still need some help with this issue?

Happy to pick it up

[2020-10-06 13:50] jacubsmith commented on #115
@glennflanagan have added the key combo of `ctrl +` and either space or enter key - this fix would only work for elements that have a tabIndex by default as it is required to capture a `keydown` event.

Using the component, it would be quite useful to use the keyboard to tab to each section and then be able to open/close them using the command. Would you like me to work this in?

Can be achieved b

[2020-11-25 17:11] EdPutans opened #174 "Clicking quickly enough breaks the component"
**Describe the bug**
When clicking at a rate of ~5 clicks per second the component stops folding.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component wrapped in `Collapsible`.
2. Smash it fast.
3. Stops responding to clicks.

**Expected behavior**
Should NOT stop unfolding.

[2020-11-25 17:31] karltaylor commented on #174
@EdPutans What's your use case for clicking the Collapsible component quickly?

[2020-11-25 17:58] glennflanagan commented on #174
@karltaylor have you never seen an impatient person use a computer 🤣

[2020-12-01 11:09] EdPutans commented on #174
exactly what glenn said :) being a neurotic person is tough

[2020-12-17 17:53] karltaylor commented on #174
@EdPutans How would you suggest we combat this issue?

[2021-01-27 19:16] thomasjm opened #177 "Collapsible gets stuck when content is empty or zero-height"
**Describe the bug**

This component depends on the `onTransitionEnd` event being fired to update its internal state. However, if the content of the collapsible is empty, then no transition happens and thus `onTransitionEnd` doesn't fire, leaving the component stuck.

As a result, if you have a component with empty (or zero-height) content that's open, and then close it, it will get stuck in the c

[2021-01-27 20:11] glennflanagan commented on #177
I think I understand the bug - but can I ask why you’d want to use the collapsible if there’s nothing in it? Am I missing something?

[2021-01-27 20:20] thomasjm commented on #177
If you have dynamic content in there, it could easily be empty at some points.

For example, I'm using this to make a collapsible display of the list of symbols found in a source file, like an IDE might have. If no symbols exist, the collapsible is empty. It's unfortunate if the user then tries to open/close it and gets it permanently stuck.

[2021-01-27 20:30] glennflanagan commented on #177
Got it. That makes sense.

As a workaround you could use a `key` prop on the Collapsible which changes when the content changes which would cause a re-render of the entire collapsible. Not ideal but might get you going while someone works on a PR to fix this.

[2021-01-28 16:55] karltaylor commented on #177
Hey @thomasjm, fixed this issue in #178, give it a once over just to double check

[2021-01-28 18:02] thomasjm commented on #177
Works for me in the example. Thanks for the fast turnaround!

[2021-01-29 06:33] thomasjm commented on #177
Note: having built your branch and `npm link`-ed it into my project, I do get a new TypeScript error:

[code]

Not sure what this is about since it looks fine and seems to work. Maybe just due to how I linked it or something, but thought I'd mention it.

Any chance you could release the fix to NPM?

[2021-01-29 11:35] karltaylor commented on #177
@thomasjm I got this when using `yarn link` too, however, it did not appear when installing the branch directly, e.g `yarn add https://github.com/glennflanagan/react-collapsible/tree/fix/177-open-close-with-zero-height`. It was into a fresh next.js app and worked fine.

It might be something to do with the way types are references when using `link` so I'm going to leave it for now.

I'm not at my

[2021-01-29 16:11] #177 closed

[2021-01-29 17:04] karltaylor commented on #177
@thomasjm released in [v2.8.2](https://www.npmjs.com/package/react-collapsible)

[2021-01-29 17:56] dlong500 opened #179 "v2.8.2 breaks server-side rendering"
**Describe the bug**
v2.8.2 references the window object without checking that it's available which crashes during server-side rendering.  This did not occur in previous versions.

**To Reproduce**
Steps to reproduce the behavior:
Use the library in a project that renders a component server-side

**Expected behavior**
The window object should not be referenced unless it is available, so any initia

[2021-01-29 18:34] parichay-batra commented on #179
Yes, facing the same issue.
Resolved it by moving to version v2.8.1

[2021-01-29 19:05] thomasjm commented on #177
Thanks @karltaylor!

[2021-01-29 21:58] #179 closed

[2021-01-29 22:34] karltaylor commented on #179
Thanks for flagging, fixed in `2.8.3`. I've deprecated `2.8.2` on npm.

[2021-01-30 10:08] karltaylor commented on #174
Closing due to inactivity, if you still have this issue and a viable solution please feel free to comment 😊

[2021-01-30 10:08] #174 closed

[2021-01-30 10:09] karltaylor commented on #171
Closing due to inactivity, @lightninglu10 if you'd like to take a stab at this in a PR please feel free! 😊

[2021-01-30 10:09] #171 closed

[2021-01-30 10:11] karltaylor commented on #72
Is this issue now resolved? I'm wondering if it's fixed in v2.8.3. Will leave this open for a week or so but will close after to keep the repo clean.

[2021-04-04 08:36] DanielBenniah opened #184 "Set .Collapsible__contentOuter overflow to visible"
I can see that it says ' This is set to overflow: hidden within the javascript'. Is there a way to set overflow to visible?

[2021-04-05 08:58] #184 closed

[2021-04-07 19:08] Eliav2 opened #185 "pass style without using css"
i want to pass style directly to the div with "Collappsbile" classname. i dont use css at all and like to pass style to the div but you did not exposed any style to this element

[2021-04-07 19:10] Eliav2 commented on #185
[code]

sorry for that!

[2021-04-07 19:10] #185 closed

[2021-05-22 10:30] #76 closed

[2021-05-22 11:47] Abhi-ak opened #190 "Collapsible Not Opening on Parent Click"
Hi, The Collapsible is not opening when I click outside the trigger text. This is my code

`                   <Collapsible
                            className={style.collapsibleParent}
                            openedClassName={style.collapsibleParent}
                            trigger="Contribution Trend"
                            triggerClassName={style.raceViewClosed}

[2021-05-22 11:50] Abhi-ak commented on #190
@karltaylor

[2021-06-04 13:04] bl-nero opened #194 "Setting the contentHiddenWhenClosed attribute to true prevents the collapsible from opening at all."
**Describe the bug**
Looks like setting this attribute has a side effect of keeping the `height` attribute of the content element permanently at 0.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/happy-jones-v3zks
2. Click on "Expand me".
3. See that the collapsible attempts to expand (it even performs an animation), but the content doesn't show up.

**Expecte

[2021-06-04 13:06] bl-nero commented on #194
Note that this attribute works correctly in version 2.8.1, where it was introduced by @arye-dov-eidelman.

[2021-06-06 23:55] arye-dov-eidelman commented on #194
I started looking into it And confirmed that it broke in commit d4c8d7c2a21de4e7a30db137fd367ae6430854c4 as part of version 2.8.2.

Setting the element to hidden causes the elements scrollHeight attribute to go back to 0. I'm thinking maybe setting the css `visibility: hidden` would be a better way to do this without affecting the height of the element.

[2021-06-07 13:44] arye-dov-eidelman commented on #190
You probably need to set the triggerTagName prop to div so it takes up the full width

[2021-06-08 11:20] vishalkhialani opened #196 "support for aria labels"
If the component is expanded we would like to add `aria-expanded=true` for accessibility.

How can we get this done ?

Thank you,
vishal

[2021-07-01 14:04] codeability-ab commented on #171
Here's a really late answer...
You can build a trigger outside (below) the ReactCollapsible component, use a button or link or whatever. Set a null trigger to the ReactCollapsible. Use a state variable to control expand/collapse by using the open property on the ReactCollapsible. Toggle the state variable when the trigger is clicked. The ReactCallapsible will open above the trigger.

We've built "

[2021-07-01 14:21] karltaylor commented on #194
Hi d4c8d7c was a fix for https://github.com/glennflanagan/react-collapsible/issues/177.

Does PR #195 fix both scenarios?

[2021-07-02 08:32] karltaylor commented on #196
I'd love to start making react-collapsible more accessible!

If follow the w3 spec for Accordions, this could be a great addition.

https://www.w3.org/TR/wai-aria-practices/#accordion

Feel free to open a PR and we can take a look

[2021-07-02 08:52] karltaylor commented on #190
@Abhi-ak can you please use a [bug report](https://github.com/glennflanagan/react-collapsible/issues/new?assignees=&labels=&template=bug_report.md) to file an issue, I can't use the code you've supplied

[2021-07-02 08:53] #72 closed

[2021-07-02 09:37] vishalkhialani commented on #196
Hi @karltaylor ,
Sorry, I don't currently have the personal bandwidth to dedicate time to code and make  pull requests.
If I get free I will get back to you.
Thank you,
Vishal

[2021-07-08 16:36] KStomberg opened #198 "Issue with typescript support"
JSX element class does not support attributes because it does not have a 'props' property.ts(2607)

[code]

[https://i.imgur.com/1kPT7P6.png](https://i.imgur.com/1kPT7P6.png)
[https://imgur.com/lC4K8tg](https://imgur.com/lC4K8tg)

Its strange because TS sees the class but for some reason is not working. Any assistance would be much appreciated. Thanks!

[2021-07-09 18:25] karltaylor commented on #198
Please can you provide a reproducible example? Also, some version numbers would benefit this issue a lot.

I have created a fresh typescript react app using `yarn create react-app my-app --template typescript` and it's working ok for me so without any other info I can only assume it's something other than the types being incorrect

Following your example, `trigger` is actually a required prop.

In

[2021-08-27 15:16] github-jeff opened #202 "Nested Children with DB population call."
The goal: on a nested collapsible component, generate the first level on load, and the second two levels on click all using database calls.

Level 1: Populated on page load
Level 2: Populated based on selection of of Level 1
Level 3: Populated based on selection of of Level 2

So I have Level 1, and Level 2 working.  I can also fetch the data for Level 3 but it always renders at the bottom of leve

[2021-08-31 13:28] kawern opened #203 "Closing other tabs when opening a new one?"
Hi, maybe its just me not reading the docs correctly, but is there a way to close other "tabs" when clicking (opening) a new one?

[2021-08-31 14:17] glennflanagan commented on #203
You can use the [`open`](https://github.com/glennflanagan/react-collapsible#open--bool--default-false) prop to manage the open state of the collapsible, so you'd need to close all other collapsibles from a parent component.

I did create this (but it's not maintained) but it'll give you an idea on how to do it https://github.com/glennflanagan/react-responsive-accordion

[2021-08-31 14:18] #203 closed

[2021-09-02 14:27] louisnk commented on #196
Can somebody please merge the referenced PR #197 and the dependabot bumps and deploy a new version of the package? 🙏 Would be most grateful.

[2021-09-02 14:47] glennflanagan commented on #196
All sorted. 2.8.4 just been published

[2021-09-02 14:47] #196 closed

[2021-09-21 11:35] #202 closed

[2021-09-27 18:56] bisubus opened #210 "SSR problems"
**Describe the bug**

Differences in generated HTML on server and client cause a warning in Next.js:

 Currently it needs to be patched or excluded from server rendering to avoid the issue.

It's expected that this also causes problems with React server renderer in general.

**To Reproduce**

Use the component with Next.js

**Expected behavior**

The component could provide a way to override this

[2021-09-28 07:26] gabrielwallin commented on #210
A similar problem was also highlighted in an issue at React-accessible-accordion (https://github.com/springload/react-accessible-accordion/issues/41)

In their scenario, they solved it with a feature request for resetIds(): https://github.com/springload/react-accessible-accordion/pull/46 , similarly to the solution presented in React-tabs: https://github.com/reactjs/react-tabs#api

Don't know if t

[2021-09-28 10:41] karltaylor commented on #210
We're using `Date.now()` to represent a unique ID for aria controls, I _think_ something like `resetIDs` would work

[2021-09-29 15:40] karltaylor commented on #198
Closing due to inactivity

[2021-09-29 15:40] #198 closed

[2021-09-29 15:41] karltaylor commented on #190
Closing due to inactivity

[2021-09-29 15:41] #190 closed

[2021-09-29 15:41] karltaylor commented on #194
Closing due to inactivity

[2021-09-29 15:41] #194 closed

[2021-09-29 15:41] karltaylor commented on #115
Closing due to inactivity

[2021-09-29 15:41] #115 closed

[2021-09-29 15:42] karltaylor commented on #89
Closing due to inactivity

[2021-09-30 21:42] branj commented on #210
We have a frontity based application and when bumping our versions our production builds started to error out. After much troubleshooting I traced it back to this lib.

Pages that depended on this for their SSR were getting errors, but I think the dist version was swallowing them and just throwing out a vague Typescript: Cannot call a class as a function error.

Anyways, I pulled this lib did some

[2021-10-12 14:35] jakub-zawislak opened #212 "Uncaught TypeError: Super expression must either be null or a function"
I have the

error using this library. It occurs with the simplest code, like
[code]

It throws only in a production webpack build.

I'm using a lot of libraries in my project and this is the first time that this error is caused by some library.

* `react` `16.11.0`
* `react-collapsible` `2.8.4`
* `@symfony/webpack-encore` `0.31.0`
* `webpack` `4.44.2`

[2021-10-12 15:30] #212 closed, assigned to nobody

[2021-10-27 07:06] jakub-zawislak opened #213 "Do not re-render children on closed Collapsible"
I had a performance issue while using multiple Collapsibles, because the closed ones were re-rendering unnecessarily.

I have a form that consists multiple Collapsibles, like this:

[code]

When I change something in one part of my form, then `values` is changing and all of the FormPartX want to re-render, even if they are closed. It's a performance issue when the form is complex.

We need functio

[2021-11-04 12:07] neatbyte-vkovalchuk commented on #210
![image](https://user-images.githubusercontent.com/91458653/140310740-5e216083-fafd-4721-9190-fe3763d1784f.png)

[2021-11-04 12:12] neatbyte-vkovalchuk opened #214 "Warning: Prop `id` did not match."
Warning: Prop `id` did not match. Server: "collapsible-trigger-1636024544094" Client: "collapsible-trigger-1636024546217"

![image](https://user-images.githubusercontent.com/91458653/140311422-348eb00c-8056-433e-9682-f39c91110b52.png)

[2021-11-04 12:13] glennflanagan commented on #214
Closing as is a duplicate of #210

[2021-11-04 12:13] #214 closed

[2021-11-04 12:15] glennflanagan commented on #210
I think if add the ability to override `this.contentId` this would be a quick workaround? The users using SSR can set it theirselves preventing the difference at re-hydration

[2022-01-05 21:14] emad-ms opened #215 "Pass height state into the onOpen, onOpening and other methods"
### Feature request
Since react-collapsible is calculating the `scrollHeight ` of its children it can pass it through methods like `onOpen`, or `onOpening` to let the parent component be aware of that too.
This can be really helpful when height and positioning in parent component matters and developer needs to know the content height without using DOM selectors.

For example for `onOpen`:
[code]

[2022-01-22 13:08] ivanjeremic opened #216 "How to change the Icon and its position?"
I want to change the Icon on the right and also be able to change the position to be left instead of right, I already searched the issues and using a react component in the `trigger` prop has no effect.

[2022-02-02 09:54] Babrov commented on #216
@ivanjeremic Hi! I made this with passing this to trigger prop in Collapsible component
`<Collapsible
        {...props}
        trigger={[trigger, <ExpandIcon key={trigger} />]}

ExpandIcon - custom component

[2022-02-16 09:24] darshantejani007 commented on #210
Hey team, Appreciate your work for React-collapsible. Currently, I'm also facing the same issue. Any solution or a workaround for now?

[2022-02-16 09:26] glennflanagan commented on #210
@darshantejani007 the workaround for now would be to set your Collapsible to be a dynamic component so it doesn't go through SSR - not ideal but at least you can keep moving.

[2022-02-16 10:50] darshantejani007 commented on #210
Thanks for the prompt reply. The plugin is working perfectly despite the error. It doesn't cause the application to break or something in my case. It's just a console error in the development mode. So I would prefer not to convert it into a dynamic component just yet.

[2022-02-17 02:26] nathanhere opened #217 "ARIA IDs are not unique"
**Describe the bug**

Successive Collapsable components are using the same `collapsible-trigger` id during NextJS static builds. Flagged by Google Lighthouse as accessibility issue: "ARIA IDs are not unique." **Note**: Not all Collapsible instances are using the same ID, just some. This phenomenon is not always consistent (e.g. Given 3 Collapsible instances, sometimes the first two instances the s

[2022-03-24 17:09] zedy opened #219 "If the component is open while it's being triggered through a state change the component stops functioning"
**Describe the bug**
When opening the Collapsible component via a `mouse click` and then triggering the component to open/close via a state change of the parent component by passing through a value via the `open` API the component stop functioning all together.

**To Reproduce**
1. Wait for the app to load
2. Click on Accordion #1 (doesn't really matter which one)
3. Click on the checkbox above to

[2022-03-24 17:16] karltaylor commented on #219
Edited to remove the mentions of other issues as I believe you didn't mean to do that but was just using a `#` which will reference an issue/pr

[2022-03-24 19:40] karltaylor commented on #219
After a quick look it looks to be that [this line of code](https://github.com/glennflanagan/react-collapsible/blob/develop/src/Collapsible.js#L45) is the culprit

[code]

I've removed and it seems to be working so if you want a quick fix you can fork the repo and edit and use that fork or use something like [patch-package](https://www.npmjs.com/package/patch-package).

I'm just wanting to do a few

[2022-03-25 08:26] zedy commented on #219
@karltaylor Glad I could be of service. Hope it's not to much trouble. I'll wait for an official patch to be released. Thanks for looking into this so quickly. Cheers

[2022-03-29 21:05] nguaman commented on #210
Hello!
any news about the final fix for this issue?
And thanks for your work ! :)

[2022-04-08 15:19] steverethink commented on #194
I'm using 2.8.4 and am running into this issue.

` <Collapsible trigger="Testing" contentHiddenWhenClosed="true">`

prevents a collapsible element from opening.

I can see that the element containing 'Collapsible__contentOuter" class retains a style of height:0px, even after activating the trigger.

It successfully changes to height: auto if i remove the contentHiddenWhenClosed attribute.

[2022-04-08 15:28] steverethink opened #222 "contentHiddenWhenClosed prevents content from opening"
**Describe the bug**

I see a previous closed issue that says its resolved but it's still not working in the latest version 2.8.4. When i have contentHiddenWhenClosed="true" added, that element no longer expands when clicked.

**To Reproduce**

[Steps to reproduce the behavior:](https://codesandbox.io/s/hidden-wood-vpr4yc?file=/src/App.js)

Click on above and try to expand. Then remove the content

[2022-04-11 09:00] zedy commented on #219
Hi @karltaylor just want to check in on this, will there be a patch in the near future for this issue, or should I just use PatchPackage? 😊

[2022-04-20 04:22] dkuhrmeyer commented on #222
There are a few changes below that I've seen you need to make:

`import "./styles.css";
import Collapsible from "react-collapsible";

export default function App() {
  return (
    <div className="App">
      <Collapsible trigger={<h1>It Works</h1>}>
        <h1>Hello CodeSandbox</h1>
        <h2>Start editing to see some magic happen!</h2>
      </Collapsible>
    </div>
  );
}`

[2022-04-20 05:32] dkuhrmeyer opened #223 "Can you all three of these simultaneously: triggerWhenOpen, easing, transitionTime?"
**Describe the bug**
When I use triggerWhenOpen and change a Font Awesome Icon.  I am able to do so successfully.  When I add easing or transitionTime on top of using triggerWhenOpen, I don't see the transitionTime or triggerWhenOpen effects that I apply.  If I were to use just transitionTime and triggerWhenOpen, I would see the effects that I apply to those properties.  However, I no longer can c

[2022-04-25 18:44] #223 closed

[2022-04-25 18:44] dkuhrmeyer commented on #223
Resolved, user error.

[2022-04-28 04:10] tomHsieh85 opened #224 "Question - programmatically open/close component"
Hello!

This is a quick question not a bug! I am wondering if there's a way to programmatically open/close a component? For example I have 5 collapsible components, I want to close the other 4 when I click and expand one. Is that possible?

[2022-04-28 04:58] tomHsieh85 commented on #219
+1 has the fix been patch? thanks!!

[2022-06-03 19:07] schlaBAM commented on #222
If anybody's looking for a temporary solution, downgrading to 2.8.1 fixes this issue.

[2022-06-24 09:42] Griha3212 opened #227 "Please accept React 18 support pull request"
Hello! I am using React 18 and found that somebody already tried add support of 18 into this package. Please accept it, thanks!
https://github.com/glennflanagan/react-collapsible/pull/226

[2022-06-24 12:23] karltaylor commented on #227
Apologies! https://github.com/glennflanagan/react-collapsible/releases/tag/2.10.0

[2022-06-24 12:23] #227 closed

[2022-07-01 13:44] wsaun-edh commented on #150
I agree with @DavidSabine

[2022-07-06 11:27] iMoses-Apiiro commented on #87
@karltaylor what do you mean `v3.0.0` if 11 days ago `v2.10.0` was released? :sweat_smile:

[2022-07-06 11:31] karltaylor commented on #87
@iMoses-Apiiro This was originally planned to be in a new major version of `react-collapsible` but it was discarded.

Also you should know that software can still be released at 2.x.x even if 3.x.x exists, otherwise [LTS](https://en.wikipedia.org/wiki/Long-term_support) wouldn't be a thing.

[2022-07-06 15:25] iMoses-Apiiro commented on #87
semver is a thing, but you have to admit it's amusing finding a comment from more than 3 years ago talking about a version that was never released :)

are there still plans to release a new major version or was it completely aborted?
the library looks and feels really good but I do believe that some API cleanups could do a lot of good
and i'd be happy to chip in if help is needed

[2022-07-06 16:19] karltaylor commented on #87
@iMoses-Apiiro Indeed, a long time ago that!

It's been completely aborted iirc. Personally I would love to take react-collapsible to a whole new level with hooks and css-in-js but don't have the time at the moment. And I'm not sure what direction @glennflanagan wants to do with it, could open up an RFC?

[2022-07-06 20:01] glennflanagan commented on #87
@karltaylor I'll be honest I've been too out of the OOS game over the last year or so and I don't have the time to rework it- so I'm not really sure what the future plan should be for this component.

As for this specific issue it would be a breaking change now to change the behaviour of the `className` prop as users will have already set up their CSS to handle it. If we are to fix it then it woul

[2022-07-06 22:27] iMoses-Apiiro commented on #87
@glennflanagan I'm more inline with what @karltaylor suggested, which is not dealing only with this specific request but taking the package to the next level. Basically a maintenance refactor to account for all changes in the ecosystem (hooks, modern design patterns, etc).

Although I'm personally not in favor of adding css-in-js as I think it's too opinionated and what I love about this package i

[2022-07-08 22:42] iMoses opened #228 "Suggestion: Refactor library into a modernized approach in a new major version"
I made a very optimized headless hook version of your library to use in my projects and I wanted to check if you'd like to use the code (or work together to produce something similar). I did remove the ARIA part which can be easily added back in if and when it comes to it.

https://gist.github.com/iMoses/24b9dd6e13a26145a919127d38f8c088

Let me know what you think. If you're not interested I can o

[2022-07-12 13:44] mikeestrada opened #229 "Example app error: Invalid Version"
**Describe the bug**
A clear and concise description of what the bug is.

When running the example app, a required dep is missing: `@babel/plugin-proposal-class-properties`. However, after manual installation, app build remains broken - see screenshot

**To Reproduce**
Steps to reproduce the behavior:
[code]
[React Collapsible JSFiddle Template](https://jsfiddle.net/982f3LL7)

1. Go to '...'
2. Cl

[2022-08-01 15:39] zaweb opened #231 "form inputs instantly close Collapsible."
I have a form that appears when the Collapsible is opened. The Collapse is instantly closed whenever any key is pressed in any field. This makes filling out a collapsible form impossible.
My field inputs use a simple onChange handler, so it's unclear why any keystroke triggers the Collapsible to close.
Is this expected behavior?
Thank you!

[2022-08-01 15:57] karltaylor commented on #231
Hey @zaweb, please can you provide a [MRE](https://en.wikipedia.org/wiki/Minimal_reproducible_example)

[2022-08-01 16:14] zaweb commented on #231
Hmm... Unfortunately, I can't reproduce it on jsfiddle. Figures. I wonder if it's something to do with reactstrap...
I'll see if I can work around it on my own since I can't give you much to work with.
Thank you.

[2022-08-01 16:20] zaweb commented on #231
If it helps, here's where I'm having the problem:

[code]

If I remove "value={foo[key]}" then it works fine. But if it's in there, it instantly closes on any keystroke in an input field.

[2022-08-08 09:34] stephank commented on #210
React 18 added a [useId](https://reactjs.org/docs/hooks-reference.html#useid) hook for this purpose. I'm using a simple wrapper around Collapsible that looks like:

[code]

[2022-08-12 18:49] rfrancesca12 opened #232 "Unable to pass key prop"
I'm using `containerElementProps` to pass in additional props to the parent element but the key prop isn't showing up. Because of this, i'm getting an issue `Each child in a list should have a unique "key" prop.`
[code]
Is there a way to pass in the key prop? Thank you!

<img width="424" alt="Screen Shot 2022-08-12 at 12 47 04 PM" src="https://user-images.githubusercontent.com/52517362/184424159-c

[2022-08-12 19:25] glennflanagan commented on #232
You just need to apply the key prop to the component itself as that’s how keys work in React.

https://reactjs.org/docs/lists-and-keys.html#keys

It’s not something that ends up in the rendered DOM - `containerElementProps` is designed to pass props which will get applied to the DOM, things like “id” or “aria-describedby” etc.

[2022-08-12 19:25] #232 closed, assigned to nobody

[2022-08-23 20:26] mikeknerr opened #233 "Click events do not work correct within the collapsible"
**Describe the bug**
There are two discrete cases where click events within a collapsible do not work correct -- one with a workaround and one without.

1) Integration testing (e.g. Cypress): Even when the Collapsible is expanded, Cypress sees elements that are children of the Collapsible as `hidden`, so click events do not work without indicating `{ force: true }`. Although this can be annoying,

[2022-09-02 18:32] Victor-Ross commented on #36
For anyone having trouble with this broken lib, that has gone years and havent seen a fix for this problem.
1° option:
use contentInnerClassName and put a transparent border on it.

2° option:
use the built in classes ofered by the lib, like the following example:

.Collapsible__contentInner {
  border: 1px solid transparent;
}

[2022-09-02 18:50] glennflanagan commented on #36
@Victor-Ross what exactly is broken? Did you open PR to fix this free software?

[2022-09-04 16:31] j-eick commented on #231
Thank you so much for your post. I wanted to use this package for a formular as well.

**Question:**
My form has 5 input fields with one submit button at the end. Would a click into the second input field (after filling out the first one) close the collapsible?
If I understood your post correctly, then this is the case. Can you confirm?

Thanks in advance!

[2022-09-07 21:04] slimandslam commented on #73
This link above no longer works.

[2022-09-09 10:11] karltaylor commented on #228
@iMoses This is brilliant.

This is exactly the direction I wanted to steer react-collapsible. I wonder if @glennflanagan feels the same way?

@glennflanagan What are you thoughts? Would you be happy in making iMoses a contributor? We could create a v3 branch to do some extensive tests on it.

[2022-09-09 10:22] glennflanagan commented on #228
Yes that is really nice - if we can do the hook version alongside the old class way of doing it too that'd be amazing.

I definitely don't have the time to implement something like this - and the amount of work would feel like it'll end up a completely different project. What do you think @karltaylor?

[2022-09-09 10:28] karltaylor commented on #228
Yeah I agree with keeping it classes. I think we could collaboratively  work on this over next coming months. Perhaps open up a [discussions](https://docs.github.com/en/discussions) on this repo and ask for some extra helping hands from the community?

[2022-09-09 10:35] glennflanagan commented on #228
Discussion open here https://github.com/glennflanagan/react-collapsible/discussions/234

[2022-09-10 22:44] karltaylor commented on #73
Did you even try and search for the file? There's a search box top left - https://github.com/glennflanagan/react-collapsible/search?q=_Collapsible.scss&type=commits

[2022-10-19 10:21] retr00exe commented on #210
![image](https://user-images.githubusercontent.com/55347344/196664738-2757bb1e-2316-4c96-89ff-5d5c57eed110.png)
My lighthouse audit failed because of this problem. I think it will be great to use react 18 hook `useId` instead of using plain `Date.now()` to represent a unique ID.

[2022-11-08 03:53] ray1996824 commented on #219
Hi @karltaylor is this bug fixed?

[2022-11-30 06:00] JafTan21 opened #239 "Space Button does not work on any input element passed in "trigger" prop"
I have a few <input/> tags in the trigger prop, input works for every other key except for "space" key

**To Reproduce**
use a input tag on trigger prop of the component

**Expected behavior**
Input should add space when space key is pressed like other keys of the keyboard